// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-arrow-name: 'sp-i-arrow';
$sp-i-arrow-x: 139px;
$sp-i-arrow-y: 52px;
$sp-i-arrow-offset-x: -139px;
$sp-i-arrow-offset-y: -52px;
$sp-i-arrow-width: 6px;
$sp-i-arrow-height: 4px;
$sp-i-arrow-total-width: 152px;
$sp-i-arrow-total-height: 145px;
$sp-i-arrow-image: '../image/sprite.png';
$sp-i-arrow: (139px, 52px, -139px, -52px, 6px, 4px, 152px, 145px, '../image/sprite.png', 'sp-i-arrow', );
$sp-i-btn-arrow-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-x: 50px;
$sp-i-btn-arrow-y: 69px;
$sp-i-btn-arrow-offset-x: -50px;
$sp-i-btn-arrow-offset-y: -69px;
$sp-i-btn-arrow-width: 15px;
$sp-i-btn-arrow-height: 9px;
$sp-i-btn-arrow-total-width: 152px;
$sp-i-btn-arrow-total-height: 145px;
$sp-i-btn-arrow-image: '../image/sprite.png';
$sp-i-btn-arrow: (50px, 69px, -50px, -69px, 15px, 9px, 152px, 145px, '../image/sprite.png', 'sp-i-btn-arrow', );
$sp-i-btn-refresh-name: 'sp-i-btn-refresh';
$sp-i-btn-refresh-x: 86px;
$sp-i-btn-refresh-y: 106px;
$sp-i-btn-refresh-offset-x: -86px;
$sp-i-btn-refresh-offset-y: -106px;
$sp-i-btn-refresh-width: 19px;
$sp-i-btn-refresh-height: 16px;
$sp-i-btn-refresh-total-width: 152px;
$sp-i-btn-refresh-total-height: 145px;
$sp-i-btn-refresh-image: '../image/sprite.png';
$sp-i-btn-refresh: (86px, 106px, -86px, -106px, 19px, 16px, 152px, 145px, '../image/sprite.png', 'sp-i-btn-refresh', );
$sp-i-cart-name: 'sp-i-cart';
$sp-i-cart-x: 0px;
$sp-i-cart-y: 40px;
$sp-i-cart-offset-x: 0px;
$sp-i-cart-offset-y: -40px;
$sp-i-cart-width: 45px;
$sp-i-cart-height: 40px;
$sp-i-cart-total-width: 152px;
$sp-i-cart-total-height: 145px;
$sp-i-cart-image: '../image/sprite.png';
$sp-i-cart: (0px, 40px, 0px, -40px, 45px, 40px, 152px, 145px, '../image/sprite.png', 'sp-i-cart', );
$sp-i-de-name: 'sp-i-de';
$sp-i-de-x: 108px;
$sp-i-de-y: 40px;
$sp-i-de-offset-x: -108px;
$sp-i-de-offset-y: -40px;
$sp-i-de-width: 26px;
$sp-i-de-height: 16px;
$sp-i-de-total-width: 152px;
$sp-i-de-total-height: 145px;
$sp-i-de-image: '../image/sprite.png';
$sp-i-de: (108px, 40px, -108px, -40px, 26px, 16px, 152px, 145px, '../image/sprite.png', 'sp-i-de', );
$sp-i-discount-done-name: 'sp-i-discount-done';
$sp-i-discount-done-x: 50px;
$sp-i-discount-done-y: 40px;
$sp-i-discount-done-offset-x: -50px;
$sp-i-discount-done-offset-y: -40px;
$sp-i-discount-done-width: 24px;
$sp-i-discount-done-height: 24px;
$sp-i-discount-done-total-width: 152px;
$sp-i-discount-done-total-height: 145px;
$sp-i-discount-done-image: '../image/sprite.png';
$sp-i-discount-done: (50px, 40px, -50px, -40px, 24px, 24px, 152px, 145px, '../image/sprite.png', 'sp-i-discount-done', );
$sp-i-discount-info-name: 'sp-i-discount-info';
$sp-i-discount-info-x: 79px;
$sp-i-discount-info-y: 40px;
$sp-i-discount-info-offset-x: -79px;
$sp-i-discount-info-offset-y: -40px;
$sp-i-discount-info-width: 24px;
$sp-i-discount-info-height: 24px;
$sp-i-discount-info-total-width: 152px;
$sp-i-discount-info-total-height: 145px;
$sp-i-discount-info-image: '../image/sprite.png';
$sp-i-discount-info: (79px, 40px, -79px, -40px, 24px, 24px, 152px, 145px, '../image/sprite.png', 'sp-i-discount-info', );
$sp-i-drop-down-active-name: 'sp-i-dropDown-active';
$sp-i-drop-down-active-x: 139px;
$sp-i-drop-down-active-y: 40px;
$sp-i-drop-down-active-offset-x: -139px;
$sp-i-drop-down-active-offset-y: -40px;
$sp-i-drop-down-active-width: 10px;
$sp-i-drop-down-active-height: 7px;
$sp-i-drop-down-active-total-width: 152px;
$sp-i-drop-down-active-total-height: 145px;
$sp-i-drop-down-active-image: '../image/sprite.png';
$sp-i-drop-down-active: (139px, 40px, -139px, -40px, 10px, 7px, 152px, 145px, '../image/sprite.png', 'sp-i-dropDown-active', );
$sp-i-en-name: 'sp-i-en';
$sp-i-en-x: 55px;
$sp-i-en-y: 85px;
$sp-i-en-offset-x: -55px;
$sp-i-en-offset-y: -85px;
$sp-i-en-width: 26px;
$sp-i-en-height: 16px;
$sp-i-en-total-width: 152px;
$sp-i-en-total-height: 145px;
$sp-i-en-image: '../image/sprite.png';
$sp-i-en: (55px, 85px, -55px, -85px, 26px, 16px, 152px, 145px, '../image/sprite.png', 'sp-i-en', );
$sp-i-es-name: 'sp-i-es';
$sp-i-es-x: 86px;
$sp-i-es-y: 85px;
$sp-i-es-offset-x: -86px;
$sp-i-es-offset-y: -85px;
$sp-i-es-width: 26px;
$sp-i-es-height: 16px;
$sp-i-es-total-width: 152px;
$sp-i-es-total-height: 145px;
$sp-i-es-image: '../image/sprite.png';
$sp-i-es: (86px, 85px, -86px, -85px, 26px, 16px, 152px, 145px, '../image/sprite.png', 'sp-i-es', );
$sp-i-fr-name: 'sp-i-fr';
$sp-i-fr-x: 117px;
$sp-i-fr-y: 85px;
$sp-i-fr-offset-x: -117px;
$sp-i-fr-offset-y: -85px;
$sp-i-fr-width: 26px;
$sp-i-fr-height: 16px;
$sp-i-fr-total-width: 152px;
$sp-i-fr-total-height: 145px;
$sp-i-fr-image: '../image/sprite.png';
$sp-i-fr: (117px, 85px, -117px, -85px, 26px, 16px, 152px, 145px, '../image/sprite.png', 'sp-i-fr', );
$sp-i-it-name: 'sp-i-it';
$sp-i-it-x: 24px;
$sp-i-it-y: 106px;
$sp-i-it-offset-x: -24px;
$sp-i-it-offset-y: -106px;
$sp-i-it-width: 26px;
$sp-i-it-height: 16px;
$sp-i-it-total-width: 152px;
$sp-i-it-total-height: 145px;
$sp-i-it-image: '../image/sprite.png';
$sp-i-it: (24px, 106px, -24px, -106px, 26px, 16px, 152px, 145px, '../image/sprite.png', 'sp-i-it', );
$sp-i-jp-name: 'sp-i-jp';
$sp-i-jp-x: 55px;
$sp-i-jp-y: 106px;
$sp-i-jp-offset-x: -55px;
$sp-i-jp-offset-y: -106px;
$sp-i-jp-width: 26px;
$sp-i-jp-height: 16px;
$sp-i-jp-total-width: 152px;
$sp-i-jp-total-height: 145px;
$sp-i-jp-image: '../image/sprite.png';
$sp-i-jp: (55px, 106px, -55px, -106px, 26px, 16px, 152px, 145px, '../image/sprite.png', 'sp-i-jp', );
$sp-i-logotype-name: 'sp-i-logotype';
$sp-i-logotype-x: 0px;
$sp-i-logotype-y: 0px;
$sp-i-logotype-offset-x: 0px;
$sp-i-logotype-offset-y: 0px;
$sp-i-logotype-width: 152px;
$sp-i-logotype-height: 35px;
$sp-i-logotype-total-width: 152px;
$sp-i-logotype-total-height: 145px;
$sp-i-logotype-image: '../image/sprite.png';
$sp-i-logotype: (0px, 0px, 0px, 0px, 152px, 35px, 152px, 145px, '../image/sprite.png', 'sp-i-logotype', );
$sp-i-more-name: 'sp-i-more';
$sp-i-more-x: 70px;
$sp-i-more-y: 69px;
$sp-i-more-offset-x: -70px;
$sp-i-more-offset-y: -69px;
$sp-i-more-width: 20px;
$sp-i-more-height: 6px;
$sp-i-more-total-width: 152px;
$sp-i-more-total-height: 145px;
$sp-i-more-image: '../image/sprite.png';
$sp-i-more: (70px, 69px, -70px, -69px, 20px, 6px, 152px, 145px, '../image/sprite.png', 'sp-i-more', );
$sp-i-nav-name: 'sp-i-nav';
$sp-i-nav-x: 131px;
$sp-i-nav-y: 106px;
$sp-i-nav-offset-x: -131px;
$sp-i-nav-offset-y: -106px;
$sp-i-nav-width: 16px;
$sp-i-nav-height: 13px;
$sp-i-nav-total-width: 152px;
$sp-i-nav-total-height: 145px;
$sp-i-nav-image: '../image/sprite.png';
$sp-i-nav: (131px, 106px, -131px, -106px, 16px, 13px, 152px, 145px, '../image/sprite.png', 'sp-i-nav', );
$sp-i-pt-name: 'sp-i-pt';
$sp-i-pt-x: 24px;
$sp-i-pt-y: 85px;
$sp-i-pt-offset-x: -24px;
$sp-i-pt-offset-y: -85px;
$sp-i-pt-width: 26px;
$sp-i-pt-height: 16px;
$sp-i-pt-total-width: 152px;
$sp-i-pt-total-height: 145px;
$sp-i-pt-image: '../image/sprite.png';
$sp-i-pt: (24px, 85px, -24px, -85px, 26px, 16px, 152px, 145px, '../image/sprite.png', 'sp-i-pt', );
$sp-i-search-name: 'sp-i-search';
$sp-i-search-x: 110px;
$sp-i-search-y: 106px;
$sp-i-search-offset-x: -110px;
$sp-i-search-offset-y: -106px;
$sp-i-search-width: 16px;
$sp-i-search-height: 16px;
$sp-i-search-total-width: 152px;
$sp-i-search-total-height: 145px;
$sp-i-search-image: '../image/sprite.png';
$sp-i-search: (110px, 106px, -110px, -106px, 16px, 16px, 152px, 145px, '../image/sprite.png', 'sp-i-search', );
$sp-i-shadow-menu-left-name: 'sp-i-shadow-menu-left';
$sp-i-shadow-menu-left-x: 12px;
$sp-i-shadow-menu-left-y: 85px;
$sp-i-shadow-menu-left-offset-x: -12px;
$sp-i-shadow-menu-left-offset-y: -85px;
$sp-i-shadow-menu-left-width: 7px;
$sp-i-shadow-menu-left-height: 60px;
$sp-i-shadow-menu-left-total-width: 152px;
$sp-i-shadow-menu-left-total-height: 145px;
$sp-i-shadow-menu-left-image: '../image/sprite.png';
$sp-i-shadow-menu-left: (12px, 85px, -12px, -85px, 7px, 60px, 152px, 145px, '../image/sprite.png', 'sp-i-shadow-menu-left', );
$sp-i-shadow-menu-right-name: 'sp-i-shadow-menu-right';
$sp-i-shadow-menu-right-x: 0px;
$sp-i-shadow-menu-right-y: 85px;
$sp-i-shadow-menu-right-offset-x: 0px;
$sp-i-shadow-menu-right-offset-y: -85px;
$sp-i-shadow-menu-right-width: 7px;
$sp-i-shadow-menu-right-height: 60px;
$sp-i-shadow-menu-right-total-width: 152px;
$sp-i-shadow-menu-right-total-height: 145px;
$sp-i-shadow-menu-right-image: '../image/sprite.png';
$sp-i-shadow-menu-right: (0px, 85px, 0px, -85px, 7px, 60px, 152px, 145px, '../image/sprite.png', 'sp-i-shadow-menu-right', );
$sp-i-arrow-2x-name: 'sp-i-arrow@2x';
$sp-i-arrow-2x-x: 278px;
$sp-i-arrow-2x-y: 104px;
$sp-i-arrow-2x-offset-x: -278px;
$sp-i-arrow-2x-offset-y: -104px;
$sp-i-arrow-2x-width: 12px;
$sp-i-arrow-2x-height: 8px;
$sp-i-arrow-2x-total-width: 304px;
$sp-i-arrow-2x-total-height: 290px;
$sp-i-arrow-2x-image: '../image/sprite@2x.png';
$sp-i-arrow-2x: (278px, 104px, -278px, -104px, 12px, 8px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-arrow@2x', );
$sp-i-btn-arrow-2x-name: 'sp-i-btn-arrow@2x';
$sp-i-btn-arrow-2x-x: 100px;
$sp-i-btn-arrow-2x-y: 138px;
$sp-i-btn-arrow-2x-offset-x: -100px;
$sp-i-btn-arrow-2x-offset-y: -138px;
$sp-i-btn-arrow-2x-width: 30px;
$sp-i-btn-arrow-2x-height: 18px;
$sp-i-btn-arrow-2x-total-width: 304px;
$sp-i-btn-arrow-2x-total-height: 290px;
$sp-i-btn-arrow-2x-image: '../image/sprite@2x.png';
$sp-i-btn-arrow-2x: (100px, 138px, -100px, -138px, 30px, 18px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-btn-arrow@2x', );
$sp-i-btn-refresh-2x-name: 'sp-i-btn-refresh@2x';
$sp-i-btn-refresh-2x-x: 172px;
$sp-i-btn-refresh-2x-y: 212px;
$sp-i-btn-refresh-2x-offset-x: -172px;
$sp-i-btn-refresh-2x-offset-y: -212px;
$sp-i-btn-refresh-2x-width: 38px;
$sp-i-btn-refresh-2x-height: 32px;
$sp-i-btn-refresh-2x-total-width: 304px;
$sp-i-btn-refresh-2x-total-height: 290px;
$sp-i-btn-refresh-2x-image: '../image/sprite@2x.png';
$sp-i-btn-refresh-2x: (172px, 212px, -172px, -212px, 38px, 32px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-btn-refresh@2x', );
$sp-i-cart-2x-name: 'sp-i-cart@2x';
$sp-i-cart-2x-x: 0px;
$sp-i-cart-2x-y: 80px;
$sp-i-cart-2x-offset-x: 0px;
$sp-i-cart-2x-offset-y: -80px;
$sp-i-cart-2x-width: 90px;
$sp-i-cart-2x-height: 80px;
$sp-i-cart-2x-total-width: 304px;
$sp-i-cart-2x-total-height: 290px;
$sp-i-cart-2x-image: '../image/sprite@2x.png';
$sp-i-cart-2x: (0px, 80px, 0px, -80px, 90px, 80px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-cart@2x', );
$sp-i-de-2x-name: 'sp-i-de@2x';
$sp-i-de-2x-x: 216px;
$sp-i-de-2x-y: 80px;
$sp-i-de-2x-offset-x: -216px;
$sp-i-de-2x-offset-y: -80px;
$sp-i-de-2x-width: 52px;
$sp-i-de-2x-height: 32px;
$sp-i-de-2x-total-width: 304px;
$sp-i-de-2x-total-height: 290px;
$sp-i-de-2x-image: '../image/sprite@2x.png';
$sp-i-de-2x: (216px, 80px, -216px, -80px, 52px, 32px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-de@2x', );
$sp-i-discount-done-2x-name: 'sp-i-discount-done@2x';
$sp-i-discount-done-2x-x: 100px;
$sp-i-discount-done-2x-y: 80px;
$sp-i-discount-done-2x-offset-x: -100px;
$sp-i-discount-done-2x-offset-y: -80px;
$sp-i-discount-done-2x-width: 48px;
$sp-i-discount-done-2x-height: 48px;
$sp-i-discount-done-2x-total-width: 304px;
$sp-i-discount-done-2x-total-height: 290px;
$sp-i-discount-done-2x-image: '../image/sprite@2x.png';
$sp-i-discount-done-2x: (100px, 80px, -100px, -80px, 48px, 48px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-discount-done@2x', );
$sp-i-discount-info-2x-name: 'sp-i-discount-info@2x';
$sp-i-discount-info-2x-x: 158px;
$sp-i-discount-info-2x-y: 80px;
$sp-i-discount-info-2x-offset-x: -158px;
$sp-i-discount-info-2x-offset-y: -80px;
$sp-i-discount-info-2x-width: 48px;
$sp-i-discount-info-2x-height: 48px;
$sp-i-discount-info-2x-total-width: 304px;
$sp-i-discount-info-2x-total-height: 290px;
$sp-i-discount-info-2x-image: '../image/sprite@2x.png';
$sp-i-discount-info-2x: (158px, 80px, -158px, -80px, 48px, 48px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-discount-info@2x', );
$sp-i-drop-down-active-2x-name: 'sp-i-dropDown-active@2x';
$sp-i-drop-down-active-2x-x: 278px;
$sp-i-drop-down-active-2x-y: 80px;
$sp-i-drop-down-active-2x-offset-x: -278px;
$sp-i-drop-down-active-2x-offset-y: -80px;
$sp-i-drop-down-active-2x-width: 20px;
$sp-i-drop-down-active-2x-height: 14px;
$sp-i-drop-down-active-2x-total-width: 304px;
$sp-i-drop-down-active-2x-total-height: 290px;
$sp-i-drop-down-active-2x-image: '../image/sprite@2x.png';
$sp-i-drop-down-active-2x: (278px, 80px, -278px, -80px, 20px, 14px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-dropDown-active@2x', );
$sp-i-en-2x-name: 'sp-i-en@2x';
$sp-i-en-2x-x: 110px;
$sp-i-en-2x-y: 170px;
$sp-i-en-2x-offset-x: -110px;
$sp-i-en-2x-offset-y: -170px;
$sp-i-en-2x-width: 52px;
$sp-i-en-2x-height: 32px;
$sp-i-en-2x-total-width: 304px;
$sp-i-en-2x-total-height: 290px;
$sp-i-en-2x-image: '../image/sprite@2x.png';
$sp-i-en-2x: (110px, 170px, -110px, -170px, 52px, 32px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-en@2x', );
$sp-i-es-2x-name: 'sp-i-es@2x';
$sp-i-es-2x-x: 172px;
$sp-i-es-2x-y: 170px;
$sp-i-es-2x-offset-x: -172px;
$sp-i-es-2x-offset-y: -170px;
$sp-i-es-2x-width: 52px;
$sp-i-es-2x-height: 32px;
$sp-i-es-2x-total-width: 304px;
$sp-i-es-2x-total-height: 290px;
$sp-i-es-2x-image: '../image/sprite@2x.png';
$sp-i-es-2x: (172px, 170px, -172px, -170px, 52px, 32px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-es@2x', );
$sp-i-fr-2x-name: 'sp-i-fr@2x';
$sp-i-fr-2x-x: 234px;
$sp-i-fr-2x-y: 170px;
$sp-i-fr-2x-offset-x: -234px;
$sp-i-fr-2x-offset-y: -170px;
$sp-i-fr-2x-width: 52px;
$sp-i-fr-2x-height: 32px;
$sp-i-fr-2x-total-width: 304px;
$sp-i-fr-2x-total-height: 290px;
$sp-i-fr-2x-image: '../image/sprite@2x.png';
$sp-i-fr-2x: (234px, 170px, -234px, -170px, 52px, 32px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-fr@2x', );
$sp-i-it-2x-name: 'sp-i-it@2x';
$sp-i-it-2x-x: 48px;
$sp-i-it-2x-y: 212px;
$sp-i-it-2x-offset-x: -48px;
$sp-i-it-2x-offset-y: -212px;
$sp-i-it-2x-width: 52px;
$sp-i-it-2x-height: 32px;
$sp-i-it-2x-total-width: 304px;
$sp-i-it-2x-total-height: 290px;
$sp-i-it-2x-image: '../image/sprite@2x.png';
$sp-i-it-2x: (48px, 212px, -48px, -212px, 52px, 32px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-it@2x', );
$sp-i-jp-2x-name: 'sp-i-jp@2x';
$sp-i-jp-2x-x: 110px;
$sp-i-jp-2x-y: 212px;
$sp-i-jp-2x-offset-x: -110px;
$sp-i-jp-2x-offset-y: -212px;
$sp-i-jp-2x-width: 52px;
$sp-i-jp-2x-height: 32px;
$sp-i-jp-2x-total-width: 304px;
$sp-i-jp-2x-total-height: 290px;
$sp-i-jp-2x-image: '../image/sprite@2x.png';
$sp-i-jp-2x: (110px, 212px, -110px, -212px, 52px, 32px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-jp@2x', );
$sp-i-logotype-2x-name: 'sp-i-logotype@2x';
$sp-i-logotype-2x-x: 0px;
$sp-i-logotype-2x-y: 0px;
$sp-i-logotype-2x-offset-x: 0px;
$sp-i-logotype-2x-offset-y: 0px;
$sp-i-logotype-2x-width: 304px;
$sp-i-logotype-2x-height: 70px;
$sp-i-logotype-2x-total-width: 304px;
$sp-i-logotype-2x-total-height: 290px;
$sp-i-logotype-2x-image: '../image/sprite@2x.png';
$sp-i-logotype-2x: (0px, 0px, 0px, 0px, 304px, 70px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-logotype@2x', );
$sp-i-more-2x-name: 'sp-i-more@2x';
$sp-i-more-2x-x: 140px;
$sp-i-more-2x-y: 138px;
$sp-i-more-2x-offset-x: -140px;
$sp-i-more-2x-offset-y: -138px;
$sp-i-more-2x-width: 40px;
$sp-i-more-2x-height: 12px;
$sp-i-more-2x-total-width: 304px;
$sp-i-more-2x-total-height: 290px;
$sp-i-more-2x-image: '../image/sprite@2x.png';
$sp-i-more-2x: (140px, 138px, -140px, -138px, 40px, 12px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-more@2x', );
$sp-i-nav-2x-name: 'sp-i-nav@2x';
$sp-i-nav-2x-x: 262px;
$sp-i-nav-2x-y: 212px;
$sp-i-nav-2x-offset-x: -262px;
$sp-i-nav-2x-offset-y: -212px;
$sp-i-nav-2x-width: 32px;
$sp-i-nav-2x-height: 26px;
$sp-i-nav-2x-total-width: 304px;
$sp-i-nav-2x-total-height: 290px;
$sp-i-nav-2x-image: '../image/sprite@2x.png';
$sp-i-nav-2x: (262px, 212px, -262px, -212px, 32px, 26px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-nav@2x', );
$sp-i-pt-2x-name: 'sp-i-pt@2x';
$sp-i-pt-2x-x: 48px;
$sp-i-pt-2x-y: 170px;
$sp-i-pt-2x-offset-x: -48px;
$sp-i-pt-2x-offset-y: -170px;
$sp-i-pt-2x-width: 52px;
$sp-i-pt-2x-height: 32px;
$sp-i-pt-2x-total-width: 304px;
$sp-i-pt-2x-total-height: 290px;
$sp-i-pt-2x-image: '../image/sprite@2x.png';
$sp-i-pt-2x: (48px, 170px, -48px, -170px, 52px, 32px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-pt@2x', );
$sp-i-search-2x-name: 'sp-i-search@2x';
$sp-i-search-2x-x: 220px;
$sp-i-search-2x-y: 212px;
$sp-i-search-2x-offset-x: -220px;
$sp-i-search-2x-offset-y: -212px;
$sp-i-search-2x-width: 32px;
$sp-i-search-2x-height: 32px;
$sp-i-search-2x-total-width: 304px;
$sp-i-search-2x-total-height: 290px;
$sp-i-search-2x-image: '../image/sprite@2x.png';
$sp-i-search-2x: (220px, 212px, -220px, -212px, 32px, 32px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-search@2x', );
$sp-i-shadow-menu-left-2x-name: 'sp-i-shadow-menu-left@2x';
$sp-i-shadow-menu-left-2x-x: 24px;
$sp-i-shadow-menu-left-2x-y: 170px;
$sp-i-shadow-menu-left-2x-offset-x: -24px;
$sp-i-shadow-menu-left-2x-offset-y: -170px;
$sp-i-shadow-menu-left-2x-width: 14px;
$sp-i-shadow-menu-left-2x-height: 120px;
$sp-i-shadow-menu-left-2x-total-width: 304px;
$sp-i-shadow-menu-left-2x-total-height: 290px;
$sp-i-shadow-menu-left-2x-image: '../image/sprite@2x.png';
$sp-i-shadow-menu-left-2x: (24px, 170px, -24px, -170px, 14px, 120px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-shadow-menu-left@2x', );
$sp-i-shadow-menu-right-2x-name: 'sp-i-shadow-menu-right@2x';
$sp-i-shadow-menu-right-2x-x: 0px;
$sp-i-shadow-menu-right-2x-y: 170px;
$sp-i-shadow-menu-right-2x-offset-x: 0px;
$sp-i-shadow-menu-right-2x-offset-y: -170px;
$sp-i-shadow-menu-right-2x-width: 14px;
$sp-i-shadow-menu-right-2x-height: 120px;
$sp-i-shadow-menu-right-2x-total-width: 304px;
$sp-i-shadow-menu-right-2x-total-height: 290px;
$sp-i-shadow-menu-right-2x-image: '../image/sprite@2x.png';
$sp-i-shadow-menu-right-2x: (0px, 170px, 0px, -170px, 14px, 120px, 304px, 290px, '../image/sprite@2x.png', 'sp-i-shadow-menu-right@2x', );
$spritesheet-width: 152px;
$spritesheet-height: 145px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($sp-i-arrow, $sp-i-btn-arrow, $sp-i-btn-refresh, $sp-i-cart, $sp-i-de, $sp-i-discount-done, $sp-i-discount-info, $sp-i-drop-down-active, $sp-i-en, $sp-i-es, $sp-i-fr, $sp-i-it, $sp-i-jp, $sp-i-logotype, $sp-i-more, $sp-i-nav, $sp-i-pt, $sp-i-search, $sp-i-shadow-menu-left, $sp-i-shadow-menu-right, );
$spritesheet: (152px, 145px, '../image/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 304px;
$retina-spritesheet-height: 290px;
$retina-spritesheet-image: '../image/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-i-arrow-2x, $sp-i-btn-arrow-2x, $sp-i-btn-refresh-2x, $sp-i-cart-2x, $sp-i-de-2x, $sp-i-discount-done-2x, $sp-i-discount-info-2x, $sp-i-drop-down-active-2x, $sp-i-en-2x, $sp-i-es-2x, $sp-i-fr-2x, $sp-i-it-2x, $sp-i-jp-2x, $sp-i-logotype-2x, $sp-i-more-2x, $sp-i-nav-2x, $sp-i-pt-2x, $sp-i-search-2x, $sp-i-shadow-menu-left-2x, $sp-i-shadow-menu-right-2x, );
$retina-spritesheet: (304px, 290px, '../image/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-arrow-group-name: 'sp-i-arrow';
$sp-i-arrow-group: ('sp-i-arrow', $sp-i-arrow, $sp-i-arrow-2x, );
$sp-i-btn-arrow-group-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-group: ('sp-i-btn-arrow', $sp-i-btn-arrow, $sp-i-btn-arrow-2x, );
$sp-i-btn-refresh-group-name: 'sp-i-btn-refresh';
$sp-i-btn-refresh-group: ('sp-i-btn-refresh', $sp-i-btn-refresh, $sp-i-btn-refresh-2x, );
$sp-i-cart-group-name: 'sp-i-cart';
$sp-i-cart-group: ('sp-i-cart', $sp-i-cart, $sp-i-cart-2x, );
$sp-i-de-group-name: 'sp-i-de';
$sp-i-de-group: ('sp-i-de', $sp-i-de, $sp-i-de-2x, );
$sp-i-discount-done-group-name: 'sp-i-discount-done';
$sp-i-discount-done-group: ('sp-i-discount-done', $sp-i-discount-done, $sp-i-discount-done-2x, );
$sp-i-discount-info-group-name: 'sp-i-discount-info';
$sp-i-discount-info-group: ('sp-i-discount-info', $sp-i-discount-info, $sp-i-discount-info-2x, );
$sp-i-drop-down-active-group-name: 'sp-i-dropDown-active';
$sp-i-drop-down-active-group: ('sp-i-dropDown-active', $sp-i-drop-down-active, $sp-i-drop-down-active-2x, );
$sp-i-en-group-name: 'sp-i-en';
$sp-i-en-group: ('sp-i-en', $sp-i-en, $sp-i-en-2x, );
$sp-i-es-group-name: 'sp-i-es';
$sp-i-es-group: ('sp-i-es', $sp-i-es, $sp-i-es-2x, );
$sp-i-fr-group-name: 'sp-i-fr';
$sp-i-fr-group: ('sp-i-fr', $sp-i-fr, $sp-i-fr-2x, );
$sp-i-it-group-name: 'sp-i-it';
$sp-i-it-group: ('sp-i-it', $sp-i-it, $sp-i-it-2x, );
$sp-i-jp-group-name: 'sp-i-jp';
$sp-i-jp-group: ('sp-i-jp', $sp-i-jp, $sp-i-jp-2x, );
$sp-i-logotype-group-name: 'sp-i-logotype';
$sp-i-logotype-group: ('sp-i-logotype', $sp-i-logotype, $sp-i-logotype-2x, );
$sp-i-more-group-name: 'sp-i-more';
$sp-i-more-group: ('sp-i-more', $sp-i-more, $sp-i-more-2x, );
$sp-i-nav-group-name: 'sp-i-nav';
$sp-i-nav-group: ('sp-i-nav', $sp-i-nav, $sp-i-nav-2x, );
$sp-i-pt-group-name: 'sp-i-pt';
$sp-i-pt-group: ('sp-i-pt', $sp-i-pt, $sp-i-pt-2x, );
$sp-i-search-group-name: 'sp-i-search';
$sp-i-search-group: ('sp-i-search', $sp-i-search, $sp-i-search-2x, );
$sp-i-shadow-menu-left-group-name: 'sp-i-shadow-menu-left';
$sp-i-shadow-menu-left-group: ('sp-i-shadow-menu-left', $sp-i-shadow-menu-left, $sp-i-shadow-menu-left-2x, );
$sp-i-shadow-menu-right-group-name: 'sp-i-shadow-menu-right';
$sp-i-shadow-menu-right-group: ('sp-i-shadow-menu-right', $sp-i-shadow-menu-right, $sp-i-shadow-menu-right-2x, );
$retina-groups: ($sp-i-arrow-group, $sp-i-btn-arrow-group, $sp-i-btn-refresh-group, $sp-i-cart-group, $sp-i-de-group, $sp-i-discount-done-group, $sp-i-discount-info-group, $sp-i-drop-down-active-group, $sp-i-en-group, $sp-i-es-group, $sp-i-fr-group, $sp-i-it-group, $sp-i-jp-group, $sp-i-logotype-group, $sp-i-more-group, $sp-i-nav-group, $sp-i-pt-group, $sp-i-search-group, $sp-i-shadow-menu-left-group, $sp-i-shadow-menu-right-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
