// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-arrow-name: 'sp-i-arrow';
$sp-i-arrow-x: 181px;
$sp-i-arrow-y: 149px;
$sp-i-arrow-offset-x: -181px;
$sp-i-arrow-offset-y: -149px;
$sp-i-arrow-width: 6px;
$sp-i-arrow-height: 4px;
$sp-i-arrow-total-width: 202px;
$sp-i-arrow-total-height: 197px;
$sp-i-arrow-image: '../image/sprite.png';
$sp-i-arrow: (181px, 149px, -181px, -149px, 6px, 4px, 202px, 197px, '../image/sprite.png', 'sp-i-arrow', );
$sp-i-breadcrumbs-corner-name: 'sp-i-breadcrumbs-corner';
$sp-i-breadcrumbs-corner-x: 169px;
$sp-i-breadcrumbs-corner-y: 65px;
$sp-i-breadcrumbs-corner-offset-x: -169px;
$sp-i-breadcrumbs-corner-offset-y: -65px;
$sp-i-breadcrumbs-corner-width: 7px;
$sp-i-breadcrumbs-corner-height: 24px;
$sp-i-breadcrumbs-corner-total-width: 202px;
$sp-i-breadcrumbs-corner-total-height: 197px;
$sp-i-breadcrumbs-corner-image: '../image/sprite.png';
$sp-i-breadcrumbs-corner: (169px, 65px, -169px, -65px, 7px, 24px, 202px, 197px, '../image/sprite.png', 'sp-i-breadcrumbs-corner', );
$sp-i-breadcrumbs-home-name: 'sp-i-breadcrumbs-home';
$sp-i-breadcrumbs-home-x: 16px;
$sp-i-breadcrumbs-home-y: 186px;
$sp-i-breadcrumbs-home-offset-x: -16px;
$sp-i-breadcrumbs-home-offset-y: -186px;
$sp-i-breadcrumbs-home-width: 10px;
$sp-i-breadcrumbs-home-height: 10px;
$sp-i-breadcrumbs-home-total-width: 202px;
$sp-i-breadcrumbs-home-total-height: 197px;
$sp-i-breadcrumbs-home-image: '../image/sprite.png';
$sp-i-breadcrumbs-home: (16px, 186px, -16px, -186px, 10px, 10px, 202px, 197px, '../image/sprite.png', 'sp-i-breadcrumbs-home', );
$sp-i-btn-arrow-big-name: 'sp-i-btn-arrow-big';
$sp-i-btn-arrow-big-x: 93px;
$sp-i-btn-arrow-big-y: 137px;
$sp-i-btn-arrow-big-offset-x: -93px;
$sp-i-btn-arrow-big-offset-y: -137px;
$sp-i-btn-arrow-big-width: 25px;
$sp-i-btn-arrow-big-height: 12px;
$sp-i-btn-arrow-big-total-width: 202px;
$sp-i-btn-arrow-big-total-height: 197px;
$sp-i-btn-arrow-big-image: '../image/sprite.png';
$sp-i-btn-arrow-big: (93px, 137px, -93px, -137px, 25px, 12px, 202px, 197px, '../image/sprite.png', 'sp-i-btn-arrow-big', );
$sp-i-btn-arrow-hover-name: 'sp-i-btn-arrow-hover';
$sp-i-btn-arrow-hover-x: 123px;
$sp-i-btn-arrow-hover-y: 158px;
$sp-i-btn-arrow-hover-offset-x: -123px;
$sp-i-btn-arrow-hover-offset-y: -158px;
$sp-i-btn-arrow-hover-width: 15px;
$sp-i-btn-arrow-hover-height: 9px;
$sp-i-btn-arrow-hover-total-width: 202px;
$sp-i-btn-arrow-hover-total-height: 197px;
$sp-i-btn-arrow-hover-image: '../image/sprite.png';
$sp-i-btn-arrow-hover: (123px, 158px, -123px, -158px, 15px, 9px, 202px, 197px, '../image/sprite.png', 'sp-i-btn-arrow-hover', );
$sp-i-btn-arrow-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-x: 147px;
$sp-i-btn-arrow-y: 137px;
$sp-i-btn-arrow-offset-x: -147px;
$sp-i-btn-arrow-offset-y: -137px;
$sp-i-btn-arrow-width: 15px;
$sp-i-btn-arrow-height: 9px;
$sp-i-btn-arrow-total-width: 202px;
$sp-i-btn-arrow-total-height: 197px;
$sp-i-btn-arrow-image: '../image/sprite.png';
$sp-i-btn-arrow: (147px, 137px, -147px, -137px, 15px, 9px, 202px, 197px, '../image/sprite.png', 'sp-i-btn-arrow', );
$sp-i-btn-refresh-name: 'sp-i-btn-refresh';
$sp-i-btn-refresh-x: 153px;
$sp-i-btn-refresh-y: 114px;
$sp-i-btn-refresh-offset-x: -153px;
$sp-i-btn-refresh-offset-y: -114px;
$sp-i-btn-refresh-width: 19px;
$sp-i-btn-refresh-height: 16px;
$sp-i-btn-refresh-total-width: 202px;
$sp-i-btn-refresh-total-height: 197px;
$sp-i-btn-refresh-image: '../image/sprite.png';
$sp-i-btn-refresh: (153px, 114px, -153px, -114px, 19px, 16px, 202px, 197px, '../image/sprite.png', 'sp-i-btn-refresh', );
$sp-i-cart-apply-name: 'sp-i-cart-apply';
$sp-i-cart-apply-x: 143px;
$sp-i-cart-apply-y: 158px;
$sp-i-cart-apply-offset-x: -143px;
$sp-i-cart-apply-offset-y: -158px;
$sp-i-cart-apply-width: 10px;
$sp-i-cart-apply-height: 8px;
$sp-i-cart-apply-total-width: 202px;
$sp-i-cart-apply-total-height: 197px;
$sp-i-cart-apply-image: '../image/sprite.png';
$sp-i-cart-apply: (143px, 158px, -143px, -158px, 10px, 8px, 202px, 197px, '../image/sprite.png', 'sp-i-cart-apply', );
$sp-i-cart-delete-name: 'sp-i-cart-delete';
$sp-i-cart-delete-x: 137px;
$sp-i-cart-delete-y: 85px;
$sp-i-cart-delete-offset-x: -137px;
$sp-i-cart-delete-offset-y: -85px;
$sp-i-cart-delete-width: 13px;
$sp-i-cart-delete-height: 15px;
$sp-i-cart-delete-total-width: 202px;
$sp-i-cart-delete-total-height: 197px;
$sp-i-cart-delete-image: '../image/sprite.png';
$sp-i-cart-delete: (137px, 85px, -137px, -85px, 13px, 15px, 202px, 197px, '../image/sprite.png', 'sp-i-cart-delete', );
$sp-i-cart-name: 'sp-i-cart';
$sp-i-cart-x: 0px;
$sp-i-cart-y: 40px;
$sp-i-cart-offset-x: 0px;
$sp-i-cart-offset-y: -40px;
$sp-i-cart-width: 45px;
$sp-i-cart-height: 40px;
$sp-i-cart-total-width: 202px;
$sp-i-cart-total-height: 197px;
$sp-i-cart-image: '../image/sprite.png';
$sp-i-cart: (0px, 40px, 0px, -40px, 45px, 40px, 202px, 197px, '../image/sprite.png', 'sp-i-cart', );
$sp-i-category-arr-name: 'sp-i-category-arr';
$sp-i-category-arr-x: 104px;
$sp-i-category-arr-y: 158px;
$sp-i-category-arr-offset-x: -104px;
$sp-i-category-arr-offset-y: -158px;
$sp-i-category-arr-width: 14px;
$sp-i-category-arr-height: 10px;
$sp-i-category-arr-total-width: 202px;
$sp-i-category-arr-total-height: 197px;
$sp-i-category-arr-image: '../image/sprite.png';
$sp-i-category-arr: (104px, 158px, -104px, -158px, 14px, 10px, 202px, 197px, '../image/sprite.png', 'sp-i-category-arr', );
$sp-i-de-name: 'sp-i-de';
$sp-i-de-x: 0px;
$sp-i-de-y: 137px;
$sp-i-de-offset-x: 0px;
$sp-i-de-offset-y: -137px;
$sp-i-de-width: 26px;
$sp-i-de-height: 16px;
$sp-i-de-total-width: 202px;
$sp-i-de-total-height: 197px;
$sp-i-de-image: '../image/sprite.png';
$sp-i-de: (0px, 137px, 0px, -137px, 26px, 16px, 202px, 197px, '../image/sprite.png', 'sp-i-de', );
$sp-i-discount-done-name: 'sp-i-discount-done';
$sp-i-discount-done-x: 29px;
$sp-i-discount-done-y: 85px;
$sp-i-discount-done-offset-x: -29px;
$sp-i-discount-done-offset-y: -85px;
$sp-i-discount-done-width: 24px;
$sp-i-discount-done-height: 24px;
$sp-i-discount-done-total-width: 202px;
$sp-i-discount-done-total-height: 197px;
$sp-i-discount-done-image: '../image/sprite.png';
$sp-i-discount-done: (29px, 85px, -29px, -85px, 24px, 24px, 202px, 197px, '../image/sprite.png', 'sp-i-discount-done', );
$sp-i-discount-info-name: 'sp-i-discount-info';
$sp-i-discount-info-x: 0px;
$sp-i-discount-info-y: 85px;
$sp-i-discount-info-offset-x: 0px;
$sp-i-discount-info-offset-y: -85px;
$sp-i-discount-info-width: 24px;
$sp-i-discount-info-height: 24px;
$sp-i-discount-info-total-width: 202px;
$sp-i-discount-info-total-height: 197px;
$sp-i-discount-info-image: '../image/sprite.png';
$sp-i-discount-info: (0px, 85px, 0px, -85px, 24px, 24px, 202px, 197px, '../image/sprite.png', 'sp-i-discount-info', );
$sp-i-drop-arrow-active-name: 'sp-i-drop-arrow-active';
$sp-i-drop-arrow-active-x: 157px;
$sp-i-drop-arrow-active-y: 65px;
$sp-i-drop-arrow-active-offset-x: -157px;
$sp-i-drop-arrow-active-offset-y: -65px;
$sp-i-drop-arrow-active-width: 5px;
$sp-i-drop-arrow-active-height: 9px;
$sp-i-drop-arrow-active-total-width: 202px;
$sp-i-drop-arrow-active-total-height: 197px;
$sp-i-drop-arrow-active-image: '../image/sprite.png';
$sp-i-drop-arrow-active: (157px, 65px, -157px, -65px, 5px, 9px, 202px, 197px, '../image/sprite.png', 'sp-i-drop-arrow-active', );
$sp-i-drop-arrow-name: 'sp-i-drop-arrow';
$sp-i-drop-arrow-x: 169px;
$sp-i-drop-arrow-y: 94px;
$sp-i-drop-arrow-offset-x: -169px;
$sp-i-drop-arrow-offset-y: -94px;
$sp-i-drop-arrow-width: 5px;
$sp-i-drop-arrow-height: 9px;
$sp-i-drop-arrow-total-width: 202px;
$sp-i-drop-arrow-total-height: 197px;
$sp-i-drop-arrow-image: '../image/sprite.png';
$sp-i-drop-arrow: (169px, 94px, -169px, -94px, 5px, 9px, 202px, 197px, '../image/sprite.png', 'sp-i-drop-arrow', );
$sp-i-drop-down-active-name: 'sp-i-dropDown-active';
$sp-i-drop-down-active-x: 158px;
$sp-i-drop-down-active-y: 158px;
$sp-i-drop-down-active-offset-x: -158px;
$sp-i-drop-down-active-offset-y: -158px;
$sp-i-drop-down-active-width: 10px;
$sp-i-drop-down-active-height: 7px;
$sp-i-drop-down-active-total-width: 202px;
$sp-i-drop-down-active-total-height: 197px;
$sp-i-drop-down-active-image: '../image/sprite.png';
$sp-i-drop-down-active: (158px, 158px, -158px, -158px, 10px, 7px, 202px, 197px, '../image/sprite.png', 'sp-i-dropDown-active', );
$sp-i-en-name: 'sp-i-en';
$sp-i-en-x: 60px;
$sp-i-en-y: 114px;
$sp-i-en-offset-x: -60px;
$sp-i-en-offset-y: -114px;
$sp-i-en-width: 26px;
$sp-i-en-height: 16px;
$sp-i-en-total-width: 202px;
$sp-i-en-total-height: 197px;
$sp-i-en-image: '../image/sprite.png';
$sp-i-en: (60px, 114px, -60px, -114px, 26px, 16px, 202px, 197px, '../image/sprite.png', 'sp-i-en', );
$sp-i-es-name: 'sp-i-es';
$sp-i-es-x: 91px;
$sp-i-es-y: 114px;
$sp-i-es-offset-x: -91px;
$sp-i-es-offset-y: -114px;
$sp-i-es-width: 26px;
$sp-i-es-height: 16px;
$sp-i-es-total-width: 202px;
$sp-i-es-total-height: 197px;
$sp-i-es-image: '../image/sprite.png';
$sp-i-es: (91px, 114px, -91px, -114px, 26px, 16px, 202px, 197px, '../image/sprite.png', 'sp-i-es', );
$sp-i-fr-name: 'sp-i-fr';
$sp-i-fr-x: 122px;
$sp-i-fr-y: 114px;
$sp-i-fr-offset-x: -122px;
$sp-i-fr-offset-y: -114px;
$sp-i-fr-width: 26px;
$sp-i-fr-height: 16px;
$sp-i-fr-total-width: 202px;
$sp-i-fr-total-height: 197px;
$sp-i-fr-image: '../image/sprite.png';
$sp-i-fr: (122px, 114px, -122px, -114px, 26px, 16px, 202px, 197px, '../image/sprite.png', 'sp-i-fr', );
$sp-i-it-name: 'sp-i-it';
$sp-i-it-x: 29px;
$sp-i-it-y: 114px;
$sp-i-it-offset-x: -29px;
$sp-i-it-offset-y: -114px;
$sp-i-it-width: 26px;
$sp-i-it-height: 16px;
$sp-i-it-total-width: 202px;
$sp-i-it-total-height: 197px;
$sp-i-it-image: '../image/sprite.png';
$sp-i-it: (29px, 114px, -29px, -114px, 26px, 16px, 202px, 197px, '../image/sprite.png', 'sp-i-it', );
$sp-i-jp-name: 'sp-i-jp';
$sp-i-jp-x: 62px;
$sp-i-jp-y: 137px;
$sp-i-jp-offset-x: -62px;
$sp-i-jp-offset-y: -137px;
$sp-i-jp-width: 26px;
$sp-i-jp-height: 16px;
$sp-i-jp-total-width: 202px;
$sp-i-jp-total-height: 197px;
$sp-i-jp-image: '../image/sprite.png';
$sp-i-jp: (62px, 137px, -62px, -137px, 26px, 16px, 202px, 197px, '../image/sprite.png', 'sp-i-jp', );
$sp-i-logotype-name: 'sp-i-logotype';
$sp-i-logotype-x: 0px;
$sp-i-logotype-y: 0px;
$sp-i-logotype-offset-x: 0px;
$sp-i-logotype-offset-y: 0px;
$sp-i-logotype-width: 152px;
$sp-i-logotype-height: 35px;
$sp-i-logotype-total-width: 202px;
$sp-i-logotype-total-height: 197px;
$sp-i-logotype-image: '../image/sprite.png';
$sp-i-logotype: (0px, 0px, 0px, 0px, 152px, 35px, 202px, 197px, '../image/sprite.png', 'sp-i-logotype', );
$sp-i-main-title-index-name: 'sp-i-mainTitle-index';
$sp-i-main-title-index-x: 50px;
$sp-i-main-title-index-y: 40px;
$sp-i-main-title-index-offset-x: -50px;
$sp-i-main-title-index-offset-y: -40px;
$sp-i-main-title-index-width: 39px;
$sp-i-main-title-index-height: 23px;
$sp-i-main-title-index-total-width: 202px;
$sp-i-main-title-index-total-height: 197px;
$sp-i-main-title-index-image: '../image/sprite.png';
$sp-i-main-title-index: (50px, 40px, -50px, -40px, 39px, 23px, 202px, 197px, '../image/sprite.png', 'sp-i-mainTitle-index', );
$sp-i-more-name: 'sp-i-more';
$sp-i-more-x: 103px;
$sp-i-more-y: 68px;
$sp-i-more-offset-x: -103px;
$sp-i-more-offset-y: -68px;
$sp-i-more-width: 20px;
$sp-i-more-height: 6px;
$sp-i-more-total-width: 202px;
$sp-i-more-total-height: 197px;
$sp-i-more-image: '../image/sprite.png';
$sp-i-more: (103px, 68px, -103px, -68px, 20px, 6px, 202px, 197px, '../image/sprite.png', 'sp-i-more', );
$sp-i-nav-name: 'sp-i-nav';
$sp-i-nav-x: 83px;
$sp-i-nav-y: 158px;
$sp-i-nav-offset-x: -83px;
$sp-i-nav-offset-y: -158px;
$sp-i-nav-width: 16px;
$sp-i-nav-height: 13px;
$sp-i-nav-total-width: 202px;
$sp-i-nav-total-height: 197px;
$sp-i-nav-image: '../image/sprite.png';
$sp-i-nav: (83px, 158px, -83px, -158px, 16px, 13px, 202px, 197px, '../image/sprite.png', 'sp-i-nav', );
$sp-i-payment-arr-name: 'sp-i-payment-arr';
$sp-i-payment-arr-x: 123px;
$sp-i-payment-arr-y: 137px;
$sp-i-payment-arr-offset-x: -123px;
$sp-i-payment-arr-offset-y: -137px;
$sp-i-payment-arr-width: 19px;
$sp-i-payment-arr-height: 9px;
$sp-i-payment-arr-total-width: 202px;
$sp-i-payment-arr-total-height: 197px;
$sp-i-payment-arr-image: '../image/sprite.png';
$sp-i-payment-arr: (123px, 137px, -123px, -137px, 19px, 9px, 202px, 197px, '../image/sprite.png', 'sp-i-payment-arr', );
$sp-i-promo-0-name: 'sp-i-promo-0';
$sp-i-promo-0-x: 110px;
$sp-i-promo-0-y: 85px;
$sp-i-promo-0-offset-x: -110px;
$sp-i-promo-0-offset-y: -85px;
$sp-i-promo-0-width: 22px;
$sp-i-promo-0-height: 20px;
$sp-i-promo-0-total-width: 202px;
$sp-i-promo-0-total-height: 197px;
$sp-i-promo-0-image: '../image/sprite.png';
$sp-i-promo-0: (110px, 85px, -110px, -85px, 22px, 20px, 202px, 197px, '../image/sprite.png', 'sp-i-promo-0', );
$sp-i-promo-1-name: 'sp-i-promo-1';
$sp-i-promo-1-x: 0px;
$sp-i-promo-1-y: 114px;
$sp-i-promo-1-offset-x: 0px;
$sp-i-promo-1-offset-y: -114px;
$sp-i-promo-1-width: 24px;
$sp-i-promo-1-height: 18px;
$sp-i-promo-1-total-width: 202px;
$sp-i-promo-1-total-height: 197px;
$sp-i-promo-1-image: '../image/sprite.png';
$sp-i-promo-1: (0px, 114px, 0px, -114px, 24px, 18px, 202px, 197px, '../image/sprite.png', 'sp-i-promo-1', );
$sp-i-promo-2-name: 'sp-i-promo-2';
$sp-i-promo-2-x: 181px;
$sp-i-promo-2-y: 101px;
$sp-i-promo-2-offset-x: -181px;
$sp-i-promo-2-offset-y: -101px;
$sp-i-promo-2-width: 18px;
$sp-i-promo-2-height: 20px;
$sp-i-promo-2-total-width: 202px;
$sp-i-promo-2-total-height: 197px;
$sp-i-promo-2-image: '../image/sprite.png';
$sp-i-promo-2: (181px, 101px, -181px, -101px, 18px, 20px, 202px, 197px, '../image/sprite.png', 'sp-i-promo-2', );
$sp-i-promo-3-name: 'sp-i-promo-3';
$sp-i-promo-3-x: 181px;
$sp-i-promo-3-y: 126px;
$sp-i-promo-3-offset-x: -181px;
$sp-i-promo-3-offset-y: -126px;
$sp-i-promo-3-width: 20px;
$sp-i-promo-3-height: 18px;
$sp-i-promo-3-total-width: 202px;
$sp-i-promo-3-total-height: 197px;
$sp-i-promo-3-image: '../image/sprite.png';
$sp-i-promo-3: (181px, 126px, -181px, -126px, 20px, 18px, 202px, 197px, '../image/sprite.png', 'sp-i-promo-3', );
$sp-i-promo-4-name: 'sp-i-promo-4';
$sp-i-promo-4-x: 181px;
$sp-i-promo-4-y: 25px;
$sp-i-promo-4-offset-x: -181px;
$sp-i-promo-4-offset-y: -25px;
$sp-i-promo-4-width: 21px;
$sp-i-promo-4-height: 20px;
$sp-i-promo-4-total-width: 202px;
$sp-i-promo-4-total-height: 197px;
$sp-i-promo-4-image: '../image/sprite.png';
$sp-i-promo-4: (181px, 25px, -181px, -25px, 21px, 20px, 202px, 197px, '../image/sprite.png', 'sp-i-promo-4', );
$sp-i-promo-5-name: 'sp-i-promo-5';
$sp-i-promo-5-x: 181px;
$sp-i-promo-5-y: 0px;
$sp-i-promo-5-offset-x: -181px;
$sp-i-promo-5-offset-y: 0px;
$sp-i-promo-5-width: 21px;
$sp-i-promo-5-height: 20px;
$sp-i-promo-5-total-width: 202px;
$sp-i-promo-5-total-height: 197px;
$sp-i-promo-5-image: '../image/sprite.png';
$sp-i-promo-5: (181px, 0px, -181px, 0px, 21px, 20px, 202px, 197px, '../image/sprite.png', 'sp-i-promo-5', );
$sp-i-promo-6-name: 'sp-i-promo-6';
$sp-i-promo-6-x: 181px;
$sp-i-promo-6-y: 50px;
$sp-i-promo-6-offset-x: -181px;
$sp-i-promo-6-offset-y: -50px;
$sp-i-promo-6-width: 20px;
$sp-i-promo-6-height: 20px;
$sp-i-promo-6-total-width: 202px;
$sp-i-promo-6-total-height: 197px;
$sp-i-promo-6-image: '../image/sprite.png';
$sp-i-promo-6: (181px, 50px, -181px, -50px, 20px, 20px, 202px, 197px, '../image/sprite.png', 'sp-i-promo-6', );
$sp-i-promo-7-name: 'sp-i-promo-7';
$sp-i-promo-7-x: 0px;
$sp-i-promo-7-y: 158px;
$sp-i-promo-7-offset-x: 0px;
$sp-i-promo-7-offset-y: -158px;
$sp-i-promo-7-width: 13px;
$sp-i-promo-7-height: 23px;
$sp-i-promo-7-total-width: 202px;
$sp-i-promo-7-total-height: 197px;
$sp-i-promo-7-image: '../image/sprite.png';
$sp-i-promo-7: (0px, 158px, 0px, -158px, 13px, 23px, 202px, 197px, '../image/sprite.png', 'sp-i-promo-7', );
$sp-i-pt-name: 'sp-i-pt';
$sp-i-pt-x: 31px;
$sp-i-pt-y: 137px;
$sp-i-pt-offset-x: -31px;
$sp-i-pt-offset-y: -137px;
$sp-i-pt-width: 26px;
$sp-i-pt-height: 16px;
$sp-i-pt-total-width: 202px;
$sp-i-pt-total-height: 197px;
$sp-i-pt-image: '../image/sprite.png';
$sp-i-pt: (31px, 137px, -31px, -137px, 26px, 16px, 202px, 197px, '../image/sprite.png', 'sp-i-pt', );
$sp-i-rating-name: 'sp-i-rating';
$sp-i-rating-x: 50px;
$sp-i-rating-y: 68px;
$sp-i-rating-offset-x: -50px;
$sp-i-rating-offset-y: -68px;
$sp-i-rating-width: 48px;
$sp-i-rating-height: 8px;
$sp-i-rating-total-width: 202px;
$sp-i-rating-total-height: 197px;
$sp-i-rating-image: '../image/sprite.png';
$sp-i-rating: (50px, 68px, -50px, -68px, 48px, 8px, 202px, 197px, '../image/sprite.png', 'sp-i-rating', );
$sp-i-review-corner-name: 'sp-i-review-corner';
$sp-i-review-corner-x: 62px;
$sp-i-review-corner-y: 158px;
$sp-i-review-corner-offset-x: -62px;
$sp-i-review-corner-offset-y: -158px;
$sp-i-review-corner-width: 16px;
$sp-i-review-corner-height: 14px;
$sp-i-review-corner-total-width: 202px;
$sp-i-review-corner-total-height: 197px;
$sp-i-review-corner-image: '../image/sprite.png';
$sp-i-review-corner: (62px, 158px, -62px, -158px, 16px, 14px, 202px, 197px, '../image/sprite.png', 'sp-i-review-corner', );
$sp-i-review-name: 'sp-i-review';
$sp-i-review-x: 18px;
$sp-i-review-y: 158px;
$sp-i-review-offset-x: -18px;
$sp-i-review-offset-y: -158px;
$sp-i-review-width: 18px;
$sp-i-review-height: 16px;
$sp-i-review-total-width: 202px;
$sp-i-review-total-height: 197px;
$sp-i-review-image: '../image/sprite.png';
$sp-i-review: (18px, 158px, -18px, -158px, 18px, 16px, 202px, 197px, '../image/sprite.png', 'sp-i-review', );
$sp-i-search-close-name: 'sp-i-search-close';
$sp-i-search-close-x: 0px;
$sp-i-search-close-y: 186px;
$sp-i-search-close-offset-x: 0px;
$sp-i-search-close-offset-y: -186px;
$sp-i-search-close-width: 11px;
$sp-i-search-close-height: 11px;
$sp-i-search-close-total-width: 202px;
$sp-i-search-close-total-height: 197px;
$sp-i-search-close-image: '../image/sprite.png';
$sp-i-search-close: (0px, 186px, 0px, -186px, 11px, 11px, 202px, 197px, '../image/sprite.png', 'sp-i-search-close', );
$sp-i-search-name: 'sp-i-search';
$sp-i-search-x: 41px;
$sp-i-search-y: 158px;
$sp-i-search-offset-x: -41px;
$sp-i-search-offset-y: -158px;
$sp-i-search-width: 16px;
$sp-i-search-height: 16px;
$sp-i-search-total-width: 202px;
$sp-i-search-total-height: 197px;
$sp-i-search-image: '../image/sprite.png';
$sp-i-search: (41px, 158px, -41px, -158px, 16px, 16px, 202px, 197px, '../image/sprite.png', 'sp-i-search', );
$sp-i-shadow-menu-left-name: 'sp-i-shadow-menu-left';
$sp-i-shadow-menu-left-x: 157px;
$sp-i-shadow-menu-left-y: 0px;
$sp-i-shadow-menu-left-offset-x: -157px;
$sp-i-shadow-menu-left-offset-y: 0px;
$sp-i-shadow-menu-left-width: 7px;
$sp-i-shadow-menu-left-height: 60px;
$sp-i-shadow-menu-left-total-width: 202px;
$sp-i-shadow-menu-left-total-height: 197px;
$sp-i-shadow-menu-left-image: '../image/sprite.png';
$sp-i-shadow-menu-left: (157px, 0px, -157px, 0px, 7px, 60px, 202px, 197px, '../image/sprite.png', 'sp-i-shadow-menu-left', );
$sp-i-shadow-menu-right-name: 'sp-i-shadow-menu-right';
$sp-i-shadow-menu-right-x: 169px;
$sp-i-shadow-menu-right-y: 0px;
$sp-i-shadow-menu-right-offset-x: -169px;
$sp-i-shadow-menu-right-offset-y: 0px;
$sp-i-shadow-menu-right-width: 7px;
$sp-i-shadow-menu-right-height: 60px;
$sp-i-shadow-menu-right-total-width: 202px;
$sp-i-shadow-menu-right-total-height: 197px;
$sp-i-shadow-menu-right-image: '../image/sprite.png';
$sp-i-shadow-menu-right: (169px, 0px, -169px, 0px, 7px, 60px, 202px, 197px, '../image/sprite.png', 'sp-i-shadow-menu-right', );
$sp-i-slider-info-0-name: 'sp-i-slider-info-0';
$sp-i-slider-info-0-x: 94px;
$sp-i-slider-info-0-y: 40px;
$sp-i-slider-info-0-offset-x: -94px;
$sp-i-slider-info-0-offset-y: -40px;
$sp-i-slider-info-0-width: 22px;
$sp-i-slider-info-0-height: 21px;
$sp-i-slider-info-0-total-width: 202px;
$sp-i-slider-info-0-total-height: 197px;
$sp-i-slider-info-0-image: '../image/sprite.png';
$sp-i-slider-info-0: (94px, 40px, -94px, -40px, 22px, 21px, 202px, 197px, '../image/sprite.png', 'sp-i-slider-info-0', );
$sp-i-slider-info-1-name: 'sp-i-slider-info-1';
$sp-i-slider-info-1-x: 84px;
$sp-i-slider-info-1-y: 85px;
$sp-i-slider-info-1-offset-x: -84px;
$sp-i-slider-info-1-offset-y: -85px;
$sp-i-slider-info-1-width: 21px;
$sp-i-slider-info-1-height: 21px;
$sp-i-slider-info-1-total-width: 202px;
$sp-i-slider-info-1-total-height: 197px;
$sp-i-slider-info-1-image: '../image/sprite.png';
$sp-i-slider-info-1: (84px, 85px, -84px, -85px, 21px, 21px, 202px, 197px, '../image/sprite.png', 'sp-i-slider-info-1', );
$sp-i-slider-info-2-name: 'sp-i-slider-info-2';
$sp-i-slider-info-2-x: 121px;
$sp-i-slider-info-2-y: 40px;
$sp-i-slider-info-2-offset-x: -121px;
$sp-i-slider-info-2-offset-y: -40px;
$sp-i-slider-info-2-width: 24px;
$sp-i-slider-info-2-height: 19px;
$sp-i-slider-info-2-total-width: 202px;
$sp-i-slider-info-2-total-height: 197px;
$sp-i-slider-info-2-image: '../image/sprite.png';
$sp-i-slider-info-2: (121px, 40px, -121px, -40px, 24px, 19px, 202px, 197px, '../image/sprite.png', 'sp-i-slider-info-2', );
$sp-i-slider-info-3-name: 'sp-i-slider-info-3';
$sp-i-slider-info-3-x: 58px;
$sp-i-slider-info-3-y: 85px;
$sp-i-slider-info-3-offset-x: -58px;
$sp-i-slider-info-3-offset-y: -85px;
$sp-i-slider-info-3-width: 21px;
$sp-i-slider-info-3-height: 21px;
$sp-i-slider-info-3-total-width: 202px;
$sp-i-slider-info-3-total-height: 197px;
$sp-i-slider-info-3-image: '../image/sprite.png';
$sp-i-slider-info-3: (58px, 85px, -58px, -85px, 21px, 21px, 202px, 197px, '../image/sprite.png', 'sp-i-slider-info-3', );
$sp-i-slider-info-4-name: 'sp-i-slider-info-4';
$sp-i-slider-info-4-x: 181px;
$sp-i-slider-info-4-y: 75px;
$sp-i-slider-info-4-offset-x: -181px;
$sp-i-slider-info-4-offset-y: -75px;
$sp-i-slider-info-4-width: 18px;
$sp-i-slider-info-4-height: 21px;
$sp-i-slider-info-4-total-width: 202px;
$sp-i-slider-info-4-total-height: 197px;
$sp-i-slider-info-4-image: '../image/sprite.png';
$sp-i-slider-info-4: (181px, 75px, -181px, -75px, 18px, 21px, 202px, 197px, '../image/sprite.png', 'sp-i-slider-info-4', );
$sp-i-arrow-2x-name: 'sp-i-arrow@2x';
$sp-i-arrow-2x-x: 362px;
$sp-i-arrow-2x-y: 298px;
$sp-i-arrow-2x-offset-x: -362px;
$sp-i-arrow-2x-offset-y: -298px;
$sp-i-arrow-2x-width: 12px;
$sp-i-arrow-2x-height: 8px;
$sp-i-arrow-2x-total-width: 404px;
$sp-i-arrow-2x-total-height: 394px;
$sp-i-arrow-2x-image: '../image/sprite@2x.png';
$sp-i-arrow-2x: (362px, 298px, -362px, -298px, 12px, 8px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-arrow@2x', );
$sp-i-breadcrumbs-corner-2x-name: 'sp-i-breadcrumbs-corner@2x';
$sp-i-breadcrumbs-corner-2x-x: 338px;
$sp-i-breadcrumbs-corner-2x-y: 130px;
$sp-i-breadcrumbs-corner-2x-offset-x: -338px;
$sp-i-breadcrumbs-corner-2x-offset-y: -130px;
$sp-i-breadcrumbs-corner-2x-width: 14px;
$sp-i-breadcrumbs-corner-2x-height: 48px;
$sp-i-breadcrumbs-corner-2x-total-width: 404px;
$sp-i-breadcrumbs-corner-2x-total-height: 394px;
$sp-i-breadcrumbs-corner-2x-image: '../image/sprite@2x.png';
$sp-i-breadcrumbs-corner-2x: (338px, 130px, -338px, -130px, 14px, 48px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-breadcrumbs-corner@2x', );
$sp-i-breadcrumbs-home-2x-name: 'sp-i-breadcrumbs-home@2x';
$sp-i-breadcrumbs-home-2x-x: 32px;
$sp-i-breadcrumbs-home-2x-y: 372px;
$sp-i-breadcrumbs-home-2x-offset-x: -32px;
$sp-i-breadcrumbs-home-2x-offset-y: -372px;
$sp-i-breadcrumbs-home-2x-width: 20px;
$sp-i-breadcrumbs-home-2x-height: 20px;
$sp-i-breadcrumbs-home-2x-total-width: 404px;
$sp-i-breadcrumbs-home-2x-total-height: 394px;
$sp-i-breadcrumbs-home-2x-image: '../image/sprite@2x.png';
$sp-i-breadcrumbs-home-2x: (32px, 372px, -32px, -372px, 20px, 20px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-breadcrumbs-home@2x', );
$sp-i-btn-arrow-big-2x-name: 'sp-i-btn-arrow-big@2x';
$sp-i-btn-arrow-big-2x-x: 186px;
$sp-i-btn-arrow-big-2x-y: 274px;
$sp-i-btn-arrow-big-2x-offset-x: -186px;
$sp-i-btn-arrow-big-2x-offset-y: -274px;
$sp-i-btn-arrow-big-2x-width: 50px;
$sp-i-btn-arrow-big-2x-height: 24px;
$sp-i-btn-arrow-big-2x-total-width: 404px;
$sp-i-btn-arrow-big-2x-total-height: 394px;
$sp-i-btn-arrow-big-2x-image: '../image/sprite@2x.png';
$sp-i-btn-arrow-big-2x: (186px, 274px, -186px, -274px, 50px, 24px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-btn-arrow-big@2x', );
$sp-i-btn-arrow-hover-2x-name: 'sp-i-btn-arrow-hover@2x';
$sp-i-btn-arrow-hover-2x-x: 246px;
$sp-i-btn-arrow-hover-2x-y: 316px;
$sp-i-btn-arrow-hover-2x-offset-x: -246px;
$sp-i-btn-arrow-hover-2x-offset-y: -316px;
$sp-i-btn-arrow-hover-2x-width: 30px;
$sp-i-btn-arrow-hover-2x-height: 18px;
$sp-i-btn-arrow-hover-2x-total-width: 404px;
$sp-i-btn-arrow-hover-2x-total-height: 394px;
$sp-i-btn-arrow-hover-2x-image: '../image/sprite@2x.png';
$sp-i-btn-arrow-hover-2x: (246px, 316px, -246px, -316px, 30px, 18px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-btn-arrow-hover@2x', );
$sp-i-btn-arrow-2x-name: 'sp-i-btn-arrow@2x';
$sp-i-btn-arrow-2x-x: 294px;
$sp-i-btn-arrow-2x-y: 274px;
$sp-i-btn-arrow-2x-offset-x: -294px;
$sp-i-btn-arrow-2x-offset-y: -274px;
$sp-i-btn-arrow-2x-width: 30px;
$sp-i-btn-arrow-2x-height: 18px;
$sp-i-btn-arrow-2x-total-width: 404px;
$sp-i-btn-arrow-2x-total-height: 394px;
$sp-i-btn-arrow-2x-image: '../image/sprite@2x.png';
$sp-i-btn-arrow-2x: (294px, 274px, -294px, -274px, 30px, 18px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-btn-arrow@2x', );
$sp-i-btn-refresh-2x-name: 'sp-i-btn-refresh@2x';
$sp-i-btn-refresh-2x-x: 306px;
$sp-i-btn-refresh-2x-y: 228px;
$sp-i-btn-refresh-2x-offset-x: -306px;
$sp-i-btn-refresh-2x-offset-y: -228px;
$sp-i-btn-refresh-2x-width: 38px;
$sp-i-btn-refresh-2x-height: 32px;
$sp-i-btn-refresh-2x-total-width: 404px;
$sp-i-btn-refresh-2x-total-height: 394px;
$sp-i-btn-refresh-2x-image: '../image/sprite@2x.png';
$sp-i-btn-refresh-2x: (306px, 228px, -306px, -228px, 38px, 32px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-btn-refresh@2x', );
$sp-i-cart-apply-2x-name: 'sp-i-cart-apply@2x';
$sp-i-cart-apply-2x-x: 286px;
$sp-i-cart-apply-2x-y: 316px;
$sp-i-cart-apply-2x-offset-x: -286px;
$sp-i-cart-apply-2x-offset-y: -316px;
$sp-i-cart-apply-2x-width: 20px;
$sp-i-cart-apply-2x-height: 16px;
$sp-i-cart-apply-2x-total-width: 404px;
$sp-i-cart-apply-2x-total-height: 394px;
$sp-i-cart-apply-2x-image: '../image/sprite@2x.png';
$sp-i-cart-apply-2x: (286px, 316px, -286px, -316px, 20px, 16px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-cart-apply@2x', );
$sp-i-cart-delete-2x-name: 'sp-i-cart-delete@2x';
$sp-i-cart-delete-2x-x: 274px;
$sp-i-cart-delete-2x-y: 170px;
$sp-i-cart-delete-2x-offset-x: -274px;
$sp-i-cart-delete-2x-offset-y: -170px;
$sp-i-cart-delete-2x-width: 26px;
$sp-i-cart-delete-2x-height: 30px;
$sp-i-cart-delete-2x-total-width: 404px;
$sp-i-cart-delete-2x-total-height: 394px;
$sp-i-cart-delete-2x-image: '../image/sprite@2x.png';
$sp-i-cart-delete-2x: (274px, 170px, -274px, -170px, 26px, 30px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-cart-delete@2x', );
$sp-i-cart-2x-name: 'sp-i-cart@2x';
$sp-i-cart-2x-x: 0px;
$sp-i-cart-2x-y: 80px;
$sp-i-cart-2x-offset-x: 0px;
$sp-i-cart-2x-offset-y: -80px;
$sp-i-cart-2x-width: 90px;
$sp-i-cart-2x-height: 80px;
$sp-i-cart-2x-total-width: 404px;
$sp-i-cart-2x-total-height: 394px;
$sp-i-cart-2x-image: '../image/sprite@2x.png';
$sp-i-cart-2x: (0px, 80px, 0px, -80px, 90px, 80px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-cart@2x', );
$sp-i-category-arr-2x-name: 'sp-i-category-arr@2x';
$sp-i-category-arr-2x-x: 208px;
$sp-i-category-arr-2x-y: 316px;
$sp-i-category-arr-2x-offset-x: -208px;
$sp-i-category-arr-2x-offset-y: -316px;
$sp-i-category-arr-2x-width: 28px;
$sp-i-category-arr-2x-height: 20px;
$sp-i-category-arr-2x-total-width: 404px;
$sp-i-category-arr-2x-total-height: 394px;
$sp-i-category-arr-2x-image: '../image/sprite@2x.png';
$sp-i-category-arr-2x: (208px, 316px, -208px, -316px, 28px, 20px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-category-arr@2x', );
$sp-i-de-2x-name: 'sp-i-de@2x';
$sp-i-de-2x-x: 0px;
$sp-i-de-2x-y: 274px;
$sp-i-de-2x-offset-x: 0px;
$sp-i-de-2x-offset-y: -274px;
$sp-i-de-2x-width: 52px;
$sp-i-de-2x-height: 32px;
$sp-i-de-2x-total-width: 404px;
$sp-i-de-2x-total-height: 394px;
$sp-i-de-2x-image: '../image/sprite@2x.png';
$sp-i-de-2x: (0px, 274px, 0px, -274px, 52px, 32px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-de@2x', );
$sp-i-discount-done-2x-name: 'sp-i-discount-done@2x';
$sp-i-discount-done-2x-x: 58px;
$sp-i-discount-done-2x-y: 170px;
$sp-i-discount-done-2x-offset-x: -58px;
$sp-i-discount-done-2x-offset-y: -170px;
$sp-i-discount-done-2x-width: 48px;
$sp-i-discount-done-2x-height: 48px;
$sp-i-discount-done-2x-total-width: 404px;
$sp-i-discount-done-2x-total-height: 394px;
$sp-i-discount-done-2x-image: '../image/sprite@2x.png';
$sp-i-discount-done-2x: (58px, 170px, -58px, -170px, 48px, 48px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-discount-done@2x', );
$sp-i-discount-info-2x-name: 'sp-i-discount-info@2x';
$sp-i-discount-info-2x-x: 0px;
$sp-i-discount-info-2x-y: 170px;
$sp-i-discount-info-2x-offset-x: 0px;
$sp-i-discount-info-2x-offset-y: -170px;
$sp-i-discount-info-2x-width: 48px;
$sp-i-discount-info-2x-height: 48px;
$sp-i-discount-info-2x-total-width: 404px;
$sp-i-discount-info-2x-total-height: 394px;
$sp-i-discount-info-2x-image: '../image/sprite@2x.png';
$sp-i-discount-info-2x: (0px, 170px, 0px, -170px, 48px, 48px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-discount-info@2x', );
$sp-i-drop-arrow-active-2x-name: 'sp-i-drop-arrow-active@2x';
$sp-i-drop-arrow-active-2x-x: 314px;
$sp-i-drop-arrow-active-2x-y: 130px;
$sp-i-drop-arrow-active-2x-offset-x: -314px;
$sp-i-drop-arrow-active-2x-offset-y: -130px;
$sp-i-drop-arrow-active-2x-width: 10px;
$sp-i-drop-arrow-active-2x-height: 18px;
$sp-i-drop-arrow-active-2x-total-width: 404px;
$sp-i-drop-arrow-active-2x-total-height: 394px;
$sp-i-drop-arrow-active-2x-image: '../image/sprite@2x.png';
$sp-i-drop-arrow-active-2x: (314px, 130px, -314px, -130px, 10px, 18px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-drop-arrow-active@2x', );
$sp-i-drop-arrow-2x-name: 'sp-i-drop-arrow@2x';
$sp-i-drop-arrow-2x-x: 338px;
$sp-i-drop-arrow-2x-y: 188px;
$sp-i-drop-arrow-2x-offset-x: -338px;
$sp-i-drop-arrow-2x-offset-y: -188px;
$sp-i-drop-arrow-2x-width: 10px;
$sp-i-drop-arrow-2x-height: 18px;
$sp-i-drop-arrow-2x-total-width: 404px;
$sp-i-drop-arrow-2x-total-height: 394px;
$sp-i-drop-arrow-2x-image: '../image/sprite@2x.png';
$sp-i-drop-arrow-2x: (338px, 188px, -338px, -188px, 10px, 18px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-drop-arrow@2x', );
$sp-i-drop-down-active-2x-name: 'sp-i-dropDown-active@2x';
$sp-i-drop-down-active-2x-x: 316px;
$sp-i-drop-down-active-2x-y: 316px;
$sp-i-drop-down-active-2x-offset-x: -316px;
$sp-i-drop-down-active-2x-offset-y: -316px;
$sp-i-drop-down-active-2x-width: 20px;
$sp-i-drop-down-active-2x-height: 14px;
$sp-i-drop-down-active-2x-total-width: 404px;
$sp-i-drop-down-active-2x-total-height: 394px;
$sp-i-drop-down-active-2x-image: '../image/sprite@2x.png';
$sp-i-drop-down-active-2x: (316px, 316px, -316px, -316px, 20px, 14px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-dropDown-active@2x', );
$sp-i-en-2x-name: 'sp-i-en@2x';
$sp-i-en-2x-x: 120px;
$sp-i-en-2x-y: 228px;
$sp-i-en-2x-offset-x: -120px;
$sp-i-en-2x-offset-y: -228px;
$sp-i-en-2x-width: 52px;
$sp-i-en-2x-height: 32px;
$sp-i-en-2x-total-width: 404px;
$sp-i-en-2x-total-height: 394px;
$sp-i-en-2x-image: '../image/sprite@2x.png';
$sp-i-en-2x: (120px, 228px, -120px, -228px, 52px, 32px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-en@2x', );
$sp-i-es-2x-name: 'sp-i-es@2x';
$sp-i-es-2x-x: 182px;
$sp-i-es-2x-y: 228px;
$sp-i-es-2x-offset-x: -182px;
$sp-i-es-2x-offset-y: -228px;
$sp-i-es-2x-width: 52px;
$sp-i-es-2x-height: 32px;
$sp-i-es-2x-total-width: 404px;
$sp-i-es-2x-total-height: 394px;
$sp-i-es-2x-image: '../image/sprite@2x.png';
$sp-i-es-2x: (182px, 228px, -182px, -228px, 52px, 32px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-es@2x', );
$sp-i-fr-2x-name: 'sp-i-fr@2x';
$sp-i-fr-2x-x: 244px;
$sp-i-fr-2x-y: 228px;
$sp-i-fr-2x-offset-x: -244px;
$sp-i-fr-2x-offset-y: -228px;
$sp-i-fr-2x-width: 52px;
$sp-i-fr-2x-height: 32px;
$sp-i-fr-2x-total-width: 404px;
$sp-i-fr-2x-total-height: 394px;
$sp-i-fr-2x-image: '../image/sprite@2x.png';
$sp-i-fr-2x: (244px, 228px, -244px, -228px, 52px, 32px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-fr@2x', );
$sp-i-it-2x-name: 'sp-i-it@2x';
$sp-i-it-2x-x: 58px;
$sp-i-it-2x-y: 228px;
$sp-i-it-2x-offset-x: -58px;
$sp-i-it-2x-offset-y: -228px;
$sp-i-it-2x-width: 52px;
$sp-i-it-2x-height: 32px;
$sp-i-it-2x-total-width: 404px;
$sp-i-it-2x-total-height: 394px;
$sp-i-it-2x-image: '../image/sprite@2x.png';
$sp-i-it-2x: (58px, 228px, -58px, -228px, 52px, 32px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-it@2x', );
$sp-i-jp-2x-name: 'sp-i-jp@2x';
$sp-i-jp-2x-x: 124px;
$sp-i-jp-2x-y: 274px;
$sp-i-jp-2x-offset-x: -124px;
$sp-i-jp-2x-offset-y: -274px;
$sp-i-jp-2x-width: 52px;
$sp-i-jp-2x-height: 32px;
$sp-i-jp-2x-total-width: 404px;
$sp-i-jp-2x-total-height: 394px;
$sp-i-jp-2x-image: '../image/sprite@2x.png';
$sp-i-jp-2x: (124px, 274px, -124px, -274px, 52px, 32px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-jp@2x', );
$sp-i-logotype-2x-name: 'sp-i-logotype@2x';
$sp-i-logotype-2x-x: 0px;
$sp-i-logotype-2x-y: 0px;
$sp-i-logotype-2x-offset-x: 0px;
$sp-i-logotype-2x-offset-y: 0px;
$sp-i-logotype-2x-width: 304px;
$sp-i-logotype-2x-height: 70px;
$sp-i-logotype-2x-total-width: 404px;
$sp-i-logotype-2x-total-height: 394px;
$sp-i-logotype-2x-image: '../image/sprite@2x.png';
$sp-i-logotype-2x: (0px, 0px, 0px, 0px, 304px, 70px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-logotype@2x', );
$sp-i-main-title-index-2x-name: 'sp-i-mainTitle-index@2x';
$sp-i-main-title-index-2x-x: 100px;
$sp-i-main-title-index-2x-y: 80px;
$sp-i-main-title-index-2x-offset-x: -100px;
$sp-i-main-title-index-2x-offset-y: -80px;
$sp-i-main-title-index-2x-width: 78px;
$sp-i-main-title-index-2x-height: 46px;
$sp-i-main-title-index-2x-total-width: 404px;
$sp-i-main-title-index-2x-total-height: 394px;
$sp-i-main-title-index-2x-image: '../image/sprite@2x.png';
$sp-i-main-title-index-2x: (100px, 80px, -100px, -80px, 78px, 46px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-mainTitle-index@2x', );
$sp-i-more-2x-name: 'sp-i-more@2x';
$sp-i-more-2x-x: 206px;
$sp-i-more-2x-y: 136px;
$sp-i-more-2x-offset-x: -206px;
$sp-i-more-2x-offset-y: -136px;
$sp-i-more-2x-width: 40px;
$sp-i-more-2x-height: 12px;
$sp-i-more-2x-total-width: 404px;
$sp-i-more-2x-total-height: 394px;
$sp-i-more-2x-image: '../image/sprite@2x.png';
$sp-i-more-2x: (206px, 136px, -206px, -136px, 40px, 12px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-more@2x', );
$sp-i-nav-2x-name: 'sp-i-nav@2x';
$sp-i-nav-2x-x: 166px;
$sp-i-nav-2x-y: 316px;
$sp-i-nav-2x-offset-x: -166px;
$sp-i-nav-2x-offset-y: -316px;
$sp-i-nav-2x-width: 32px;
$sp-i-nav-2x-height: 26px;
$sp-i-nav-2x-total-width: 404px;
$sp-i-nav-2x-total-height: 394px;
$sp-i-nav-2x-image: '../image/sprite@2x.png';
$sp-i-nav-2x: (166px, 316px, -166px, -316px, 32px, 26px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-nav@2x', );
$sp-i-payment-arr-2x-name: 'sp-i-payment-arr@2x';
$sp-i-payment-arr-2x-x: 246px;
$sp-i-payment-arr-2x-y: 274px;
$sp-i-payment-arr-2x-offset-x: -246px;
$sp-i-payment-arr-2x-offset-y: -274px;
$sp-i-payment-arr-2x-width: 38px;
$sp-i-payment-arr-2x-height: 18px;
$sp-i-payment-arr-2x-total-width: 404px;
$sp-i-payment-arr-2x-total-height: 394px;
$sp-i-payment-arr-2x-image: '../image/sprite@2x.png';
$sp-i-payment-arr-2x: (246px, 274px, -246px, -274px, 38px, 18px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-payment-arr@2x', );
$sp-i-promo-0-2x-name: 'sp-i-promo-0@2x';
$sp-i-promo-0-2x-x: 220px;
$sp-i-promo-0-2x-y: 170px;
$sp-i-promo-0-2x-offset-x: -220px;
$sp-i-promo-0-2x-offset-y: -170px;
$sp-i-promo-0-2x-width: 44px;
$sp-i-promo-0-2x-height: 40px;
$sp-i-promo-0-2x-total-width: 404px;
$sp-i-promo-0-2x-total-height: 394px;
$sp-i-promo-0-2x-image: '../image/sprite@2x.png';
$sp-i-promo-0-2x: (220px, 170px, -220px, -170px, 44px, 40px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-promo-0@2x', );
$sp-i-promo-1-2x-name: 'sp-i-promo-1@2x';
$sp-i-promo-1-2x-x: 0px;
$sp-i-promo-1-2x-y: 228px;
$sp-i-promo-1-2x-offset-x: 0px;
$sp-i-promo-1-2x-offset-y: -228px;
$sp-i-promo-1-2x-width: 48px;
$sp-i-promo-1-2x-height: 36px;
$sp-i-promo-1-2x-total-width: 404px;
$sp-i-promo-1-2x-total-height: 394px;
$sp-i-promo-1-2x-image: '../image/sprite@2x.png';
$sp-i-promo-1-2x: (0px, 228px, 0px, -228px, 48px, 36px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-promo-1@2x', );
$sp-i-promo-2-2x-name: 'sp-i-promo-2@2x';
$sp-i-promo-2-2x-x: 362px;
$sp-i-promo-2-2x-y: 202px;
$sp-i-promo-2-2x-offset-x: -362px;
$sp-i-promo-2-2x-offset-y: -202px;
$sp-i-promo-2-2x-width: 36px;
$sp-i-promo-2-2x-height: 40px;
$sp-i-promo-2-2x-total-width: 404px;
$sp-i-promo-2-2x-total-height: 394px;
$sp-i-promo-2-2x-image: '../image/sprite@2x.png';
$sp-i-promo-2-2x: (362px, 202px, -362px, -202px, 36px, 40px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-promo-2@2x', );
$sp-i-promo-3-2x-name: 'sp-i-promo-3@2x';
$sp-i-promo-3-2x-x: 362px;
$sp-i-promo-3-2x-y: 252px;
$sp-i-promo-3-2x-offset-x: -362px;
$sp-i-promo-3-2x-offset-y: -252px;
$sp-i-promo-3-2x-width: 40px;
$sp-i-promo-3-2x-height: 36px;
$sp-i-promo-3-2x-total-width: 404px;
$sp-i-promo-3-2x-total-height: 394px;
$sp-i-promo-3-2x-image: '../image/sprite@2x.png';
$sp-i-promo-3-2x: (362px, 252px, -362px, -252px, 40px, 36px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-promo-3@2x', );
$sp-i-promo-4-2x-name: 'sp-i-promo-4@2x';
$sp-i-promo-4-2x-x: 362px;
$sp-i-promo-4-2x-y: 50px;
$sp-i-promo-4-2x-offset-x: -362px;
$sp-i-promo-4-2x-offset-y: -50px;
$sp-i-promo-4-2x-width: 42px;
$sp-i-promo-4-2x-height: 40px;
$sp-i-promo-4-2x-total-width: 404px;
$sp-i-promo-4-2x-total-height: 394px;
$sp-i-promo-4-2x-image: '../image/sprite@2x.png';
$sp-i-promo-4-2x: (362px, 50px, -362px, -50px, 42px, 40px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-promo-4@2x', );
$sp-i-promo-5-2x-name: 'sp-i-promo-5@2x';
$sp-i-promo-5-2x-x: 362px;
$sp-i-promo-5-2x-y: 0px;
$sp-i-promo-5-2x-offset-x: -362px;
$sp-i-promo-5-2x-offset-y: 0px;
$sp-i-promo-5-2x-width: 42px;
$sp-i-promo-5-2x-height: 40px;
$sp-i-promo-5-2x-total-width: 404px;
$sp-i-promo-5-2x-total-height: 394px;
$sp-i-promo-5-2x-image: '../image/sprite@2x.png';
$sp-i-promo-5-2x: (362px, 0px, -362px, 0px, 42px, 40px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-promo-5@2x', );
$sp-i-promo-6-2x-name: 'sp-i-promo-6@2x';
$sp-i-promo-6-2x-x: 362px;
$sp-i-promo-6-2x-y: 100px;
$sp-i-promo-6-2x-offset-x: -362px;
$sp-i-promo-6-2x-offset-y: -100px;
$sp-i-promo-6-2x-width: 40px;
$sp-i-promo-6-2x-height: 40px;
$sp-i-promo-6-2x-total-width: 404px;
$sp-i-promo-6-2x-total-height: 394px;
$sp-i-promo-6-2x-image: '../image/sprite@2x.png';
$sp-i-promo-6-2x: (362px, 100px, -362px, -100px, 40px, 40px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-promo-6@2x', );
$sp-i-promo-7-2x-name: 'sp-i-promo-7@2x';
$sp-i-promo-7-2x-x: 0px;
$sp-i-promo-7-2x-y: 316px;
$sp-i-promo-7-2x-offset-x: 0px;
$sp-i-promo-7-2x-offset-y: -316px;
$sp-i-promo-7-2x-width: 26px;
$sp-i-promo-7-2x-height: 46px;
$sp-i-promo-7-2x-total-width: 404px;
$sp-i-promo-7-2x-total-height: 394px;
$sp-i-promo-7-2x-image: '../image/sprite@2x.png';
$sp-i-promo-7-2x: (0px, 316px, 0px, -316px, 26px, 46px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-promo-7@2x', );
$sp-i-pt-2x-name: 'sp-i-pt@2x';
$sp-i-pt-2x-x: 62px;
$sp-i-pt-2x-y: 274px;
$sp-i-pt-2x-offset-x: -62px;
$sp-i-pt-2x-offset-y: -274px;
$sp-i-pt-2x-width: 52px;
$sp-i-pt-2x-height: 32px;
$sp-i-pt-2x-total-width: 404px;
$sp-i-pt-2x-total-height: 394px;
$sp-i-pt-2x-image: '../image/sprite@2x.png';
$sp-i-pt-2x: (62px, 274px, -62px, -274px, 52px, 32px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-pt@2x', );
$sp-i-rating-2x-name: 'sp-i-rating@2x';
$sp-i-rating-2x-x: 100px;
$sp-i-rating-2x-y: 136px;
$sp-i-rating-2x-offset-x: -100px;
$sp-i-rating-2x-offset-y: -136px;
$sp-i-rating-2x-width: 96px;
$sp-i-rating-2x-height: 16px;
$sp-i-rating-2x-total-width: 404px;
$sp-i-rating-2x-total-height: 394px;
$sp-i-rating-2x-image: '../image/sprite@2x.png';
$sp-i-rating-2x: (100px, 136px, -100px, -136px, 96px, 16px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-rating@2x', );
$sp-i-review-corner-2x-name: 'sp-i-review-corner@2x';
$sp-i-review-corner-2x-x: 124px;
$sp-i-review-corner-2x-y: 316px;
$sp-i-review-corner-2x-offset-x: -124px;
$sp-i-review-corner-2x-offset-y: -316px;
$sp-i-review-corner-2x-width: 32px;
$sp-i-review-corner-2x-height: 28px;
$sp-i-review-corner-2x-total-width: 404px;
$sp-i-review-corner-2x-total-height: 394px;
$sp-i-review-corner-2x-image: '../image/sprite@2x.png';
$sp-i-review-corner-2x: (124px, 316px, -124px, -316px, 32px, 28px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-review-corner@2x', );
$sp-i-review-2x-name: 'sp-i-review@2x';
$sp-i-review-2x-x: 36px;
$sp-i-review-2x-y: 316px;
$sp-i-review-2x-offset-x: -36px;
$sp-i-review-2x-offset-y: -316px;
$sp-i-review-2x-width: 36px;
$sp-i-review-2x-height: 32px;
$sp-i-review-2x-total-width: 404px;
$sp-i-review-2x-total-height: 394px;
$sp-i-review-2x-image: '../image/sprite@2x.png';
$sp-i-review-2x: (36px, 316px, -36px, -316px, 36px, 32px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-review@2x', );
$sp-i-search-close-2x-name: 'sp-i-search-close@2x';
$sp-i-search-close-2x-x: 0px;
$sp-i-search-close-2x-y: 372px;
$sp-i-search-close-2x-offset-x: 0px;
$sp-i-search-close-2x-offset-y: -372px;
$sp-i-search-close-2x-width: 22px;
$sp-i-search-close-2x-height: 22px;
$sp-i-search-close-2x-total-width: 404px;
$sp-i-search-close-2x-total-height: 394px;
$sp-i-search-close-2x-image: '../image/sprite@2x.png';
$sp-i-search-close-2x: (0px, 372px, 0px, -372px, 22px, 22px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-search-close@2x', );
$sp-i-search-2x-name: 'sp-i-search@2x';
$sp-i-search-2x-x: 82px;
$sp-i-search-2x-y: 316px;
$sp-i-search-2x-offset-x: -82px;
$sp-i-search-2x-offset-y: -316px;
$sp-i-search-2x-width: 32px;
$sp-i-search-2x-height: 32px;
$sp-i-search-2x-total-width: 404px;
$sp-i-search-2x-total-height: 394px;
$sp-i-search-2x-image: '../image/sprite@2x.png';
$sp-i-search-2x: (82px, 316px, -82px, -316px, 32px, 32px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-search@2x', );
$sp-i-shadow-menu-left-2x-name: 'sp-i-shadow-menu-left@2x';
$sp-i-shadow-menu-left-2x-x: 314px;
$sp-i-shadow-menu-left-2x-y: 0px;
$sp-i-shadow-menu-left-2x-offset-x: -314px;
$sp-i-shadow-menu-left-2x-offset-y: 0px;
$sp-i-shadow-menu-left-2x-width: 14px;
$sp-i-shadow-menu-left-2x-height: 120px;
$sp-i-shadow-menu-left-2x-total-width: 404px;
$sp-i-shadow-menu-left-2x-total-height: 394px;
$sp-i-shadow-menu-left-2x-image: '../image/sprite@2x.png';
$sp-i-shadow-menu-left-2x: (314px, 0px, -314px, 0px, 14px, 120px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-shadow-menu-left@2x', );
$sp-i-shadow-menu-right-2x-name: 'sp-i-shadow-menu-right@2x';
$sp-i-shadow-menu-right-2x-x: 338px;
$sp-i-shadow-menu-right-2x-y: 0px;
$sp-i-shadow-menu-right-2x-offset-x: -338px;
$sp-i-shadow-menu-right-2x-offset-y: 0px;
$sp-i-shadow-menu-right-2x-width: 14px;
$sp-i-shadow-menu-right-2x-height: 120px;
$sp-i-shadow-menu-right-2x-total-width: 404px;
$sp-i-shadow-menu-right-2x-total-height: 394px;
$sp-i-shadow-menu-right-2x-image: '../image/sprite@2x.png';
$sp-i-shadow-menu-right-2x: (338px, 0px, -338px, 0px, 14px, 120px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-shadow-menu-right@2x', );
$sp-i-slider-info-0-2x-name: 'sp-i-slider-info-0@2x';
$sp-i-slider-info-0-2x-x: 188px;
$sp-i-slider-info-0-2x-y: 80px;
$sp-i-slider-info-0-2x-offset-x: -188px;
$sp-i-slider-info-0-2x-offset-y: -80px;
$sp-i-slider-info-0-2x-width: 44px;
$sp-i-slider-info-0-2x-height: 42px;
$sp-i-slider-info-0-2x-total-width: 404px;
$sp-i-slider-info-0-2x-total-height: 394px;
$sp-i-slider-info-0-2x-image: '../image/sprite@2x.png';
$sp-i-slider-info-0-2x: (188px, 80px, -188px, -80px, 44px, 42px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-slider-info-0@2x', );
$sp-i-slider-info-1-2x-name: 'sp-i-slider-info-1@2x';
$sp-i-slider-info-1-2x-x: 168px;
$sp-i-slider-info-1-2x-y: 170px;
$sp-i-slider-info-1-2x-offset-x: -168px;
$sp-i-slider-info-1-2x-offset-y: -170px;
$sp-i-slider-info-1-2x-width: 42px;
$sp-i-slider-info-1-2x-height: 42px;
$sp-i-slider-info-1-2x-total-width: 404px;
$sp-i-slider-info-1-2x-total-height: 394px;
$sp-i-slider-info-1-2x-image: '../image/sprite@2x.png';
$sp-i-slider-info-1-2x: (168px, 170px, -168px, -170px, 42px, 42px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-slider-info-1@2x', );
$sp-i-slider-info-2-2x-name: 'sp-i-slider-info-2@2x';
$sp-i-slider-info-2-2x-x: 242px;
$sp-i-slider-info-2-2x-y: 80px;
$sp-i-slider-info-2-2x-offset-x: -242px;
$sp-i-slider-info-2-2x-offset-y: -80px;
$sp-i-slider-info-2-2x-width: 48px;
$sp-i-slider-info-2-2x-height: 38px;
$sp-i-slider-info-2-2x-total-width: 404px;
$sp-i-slider-info-2-2x-total-height: 394px;
$sp-i-slider-info-2-2x-image: '../image/sprite@2x.png';
$sp-i-slider-info-2-2x: (242px, 80px, -242px, -80px, 48px, 38px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-slider-info-2@2x', );
$sp-i-slider-info-3-2x-name: 'sp-i-slider-info-3@2x';
$sp-i-slider-info-3-2x-x: 116px;
$sp-i-slider-info-3-2x-y: 170px;
$sp-i-slider-info-3-2x-offset-x: -116px;
$sp-i-slider-info-3-2x-offset-y: -170px;
$sp-i-slider-info-3-2x-width: 42px;
$sp-i-slider-info-3-2x-height: 42px;
$sp-i-slider-info-3-2x-total-width: 404px;
$sp-i-slider-info-3-2x-total-height: 394px;
$sp-i-slider-info-3-2x-image: '../image/sprite@2x.png';
$sp-i-slider-info-3-2x: (116px, 170px, -116px, -170px, 42px, 42px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-slider-info-3@2x', );
$sp-i-slider-info-4-2x-name: 'sp-i-slider-info-4@2x';
$sp-i-slider-info-4-2x-x: 362px;
$sp-i-slider-info-4-2x-y: 150px;
$sp-i-slider-info-4-2x-offset-x: -362px;
$sp-i-slider-info-4-2x-offset-y: -150px;
$sp-i-slider-info-4-2x-width: 36px;
$sp-i-slider-info-4-2x-height: 42px;
$sp-i-slider-info-4-2x-total-width: 404px;
$sp-i-slider-info-4-2x-total-height: 394px;
$sp-i-slider-info-4-2x-image: '../image/sprite@2x.png';
$sp-i-slider-info-4-2x: (362px, 150px, -362px, -150px, 36px, 42px, 404px, 394px, '../image/sprite@2x.png', 'sp-i-slider-info-4@2x', );
$spritesheet-width: 202px;
$spritesheet-height: 197px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($sp-i-arrow, $sp-i-breadcrumbs-corner, $sp-i-breadcrumbs-home, $sp-i-btn-arrow-big, $sp-i-btn-arrow-hover, $sp-i-btn-arrow, $sp-i-btn-refresh, $sp-i-cart-apply, $sp-i-cart-delete, $sp-i-cart, $sp-i-category-arr, $sp-i-de, $sp-i-discount-done, $sp-i-discount-info, $sp-i-drop-arrow-active, $sp-i-drop-arrow, $sp-i-drop-down-active, $sp-i-en, $sp-i-es, $sp-i-fr, $sp-i-it, $sp-i-jp, $sp-i-logotype, $sp-i-main-title-index, $sp-i-more, $sp-i-nav, $sp-i-payment-arr, $sp-i-promo-0, $sp-i-promo-1, $sp-i-promo-2, $sp-i-promo-3, $sp-i-promo-4, $sp-i-promo-5, $sp-i-promo-6, $sp-i-promo-7, $sp-i-pt, $sp-i-rating, $sp-i-review-corner, $sp-i-review, $sp-i-search-close, $sp-i-search, $sp-i-shadow-menu-left, $sp-i-shadow-menu-right, $sp-i-slider-info-0, $sp-i-slider-info-1, $sp-i-slider-info-2, $sp-i-slider-info-3, $sp-i-slider-info-4, );
$spritesheet: (202px, 197px, '../image/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 404px;
$retina-spritesheet-height: 394px;
$retina-spritesheet-image: '../image/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-i-arrow-2x, $sp-i-breadcrumbs-corner-2x, $sp-i-breadcrumbs-home-2x, $sp-i-btn-arrow-big-2x, $sp-i-btn-arrow-hover-2x, $sp-i-btn-arrow-2x, $sp-i-btn-refresh-2x, $sp-i-cart-apply-2x, $sp-i-cart-delete-2x, $sp-i-cart-2x, $sp-i-category-arr-2x, $sp-i-de-2x, $sp-i-discount-done-2x, $sp-i-discount-info-2x, $sp-i-drop-arrow-active-2x, $sp-i-drop-arrow-2x, $sp-i-drop-down-active-2x, $sp-i-en-2x, $sp-i-es-2x, $sp-i-fr-2x, $sp-i-it-2x, $sp-i-jp-2x, $sp-i-logotype-2x, $sp-i-main-title-index-2x, $sp-i-more-2x, $sp-i-nav-2x, $sp-i-payment-arr-2x, $sp-i-promo-0-2x, $sp-i-promo-1-2x, $sp-i-promo-2-2x, $sp-i-promo-3-2x, $sp-i-promo-4-2x, $sp-i-promo-5-2x, $sp-i-promo-6-2x, $sp-i-promo-7-2x, $sp-i-pt-2x, $sp-i-rating-2x, $sp-i-review-corner-2x, $sp-i-review-2x, $sp-i-search-close-2x, $sp-i-search-2x, $sp-i-shadow-menu-left-2x, $sp-i-shadow-menu-right-2x, $sp-i-slider-info-0-2x, $sp-i-slider-info-1-2x, $sp-i-slider-info-2-2x, $sp-i-slider-info-3-2x, $sp-i-slider-info-4-2x, );
$retina-spritesheet: (404px, 394px, '../image/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-arrow-group-name: 'sp-i-arrow';
$sp-i-arrow-group: ('sp-i-arrow', $sp-i-arrow, $sp-i-arrow-2x, );
$sp-i-breadcrumbs-corner-group-name: 'sp-i-breadcrumbs-corner';
$sp-i-breadcrumbs-corner-group: ('sp-i-breadcrumbs-corner', $sp-i-breadcrumbs-corner, $sp-i-breadcrumbs-corner-2x, );
$sp-i-breadcrumbs-home-group-name: 'sp-i-breadcrumbs-home';
$sp-i-breadcrumbs-home-group: ('sp-i-breadcrumbs-home', $sp-i-breadcrumbs-home, $sp-i-breadcrumbs-home-2x, );
$sp-i-btn-arrow-big-group-name: 'sp-i-btn-arrow-big';
$sp-i-btn-arrow-big-group: ('sp-i-btn-arrow-big', $sp-i-btn-arrow-big, $sp-i-btn-arrow-big-2x, );
$sp-i-btn-arrow-hover-group-name: 'sp-i-btn-arrow-hover';
$sp-i-btn-arrow-hover-group: ('sp-i-btn-arrow-hover', $sp-i-btn-arrow-hover, $sp-i-btn-arrow-hover-2x, );
$sp-i-btn-arrow-group-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-group: ('sp-i-btn-arrow', $sp-i-btn-arrow, $sp-i-btn-arrow-2x, );
$sp-i-btn-refresh-group-name: 'sp-i-btn-refresh';
$sp-i-btn-refresh-group: ('sp-i-btn-refresh', $sp-i-btn-refresh, $sp-i-btn-refresh-2x, );
$sp-i-cart-apply-group-name: 'sp-i-cart-apply';
$sp-i-cart-apply-group: ('sp-i-cart-apply', $sp-i-cart-apply, $sp-i-cart-apply-2x, );
$sp-i-cart-delete-group-name: 'sp-i-cart-delete';
$sp-i-cart-delete-group: ('sp-i-cart-delete', $sp-i-cart-delete, $sp-i-cart-delete-2x, );
$sp-i-cart-group-name: 'sp-i-cart';
$sp-i-cart-group: ('sp-i-cart', $sp-i-cart, $sp-i-cart-2x, );
$sp-i-category-arr-group-name: 'sp-i-category-arr';
$sp-i-category-arr-group: ('sp-i-category-arr', $sp-i-category-arr, $sp-i-category-arr-2x, );
$sp-i-de-group-name: 'sp-i-de';
$sp-i-de-group: ('sp-i-de', $sp-i-de, $sp-i-de-2x, );
$sp-i-discount-done-group-name: 'sp-i-discount-done';
$sp-i-discount-done-group: ('sp-i-discount-done', $sp-i-discount-done, $sp-i-discount-done-2x, );
$sp-i-discount-info-group-name: 'sp-i-discount-info';
$sp-i-discount-info-group: ('sp-i-discount-info', $sp-i-discount-info, $sp-i-discount-info-2x, );
$sp-i-drop-arrow-active-group-name: 'sp-i-drop-arrow-active';
$sp-i-drop-arrow-active-group: ('sp-i-drop-arrow-active', $sp-i-drop-arrow-active, $sp-i-drop-arrow-active-2x, );
$sp-i-drop-arrow-group-name: 'sp-i-drop-arrow';
$sp-i-drop-arrow-group: ('sp-i-drop-arrow', $sp-i-drop-arrow, $sp-i-drop-arrow-2x, );
$sp-i-drop-down-active-group-name: 'sp-i-dropDown-active';
$sp-i-drop-down-active-group: ('sp-i-dropDown-active', $sp-i-drop-down-active, $sp-i-drop-down-active-2x, );
$sp-i-en-group-name: 'sp-i-en';
$sp-i-en-group: ('sp-i-en', $sp-i-en, $sp-i-en-2x, );
$sp-i-es-group-name: 'sp-i-es';
$sp-i-es-group: ('sp-i-es', $sp-i-es, $sp-i-es-2x, );
$sp-i-fr-group-name: 'sp-i-fr';
$sp-i-fr-group: ('sp-i-fr', $sp-i-fr, $sp-i-fr-2x, );
$sp-i-it-group-name: 'sp-i-it';
$sp-i-it-group: ('sp-i-it', $sp-i-it, $sp-i-it-2x, );
$sp-i-jp-group-name: 'sp-i-jp';
$sp-i-jp-group: ('sp-i-jp', $sp-i-jp, $sp-i-jp-2x, );
$sp-i-logotype-group-name: 'sp-i-logotype';
$sp-i-logotype-group: ('sp-i-logotype', $sp-i-logotype, $sp-i-logotype-2x, );
$sp-i-main-title-index-group-name: 'sp-i-mainTitle-index';
$sp-i-main-title-index-group: ('sp-i-mainTitle-index', $sp-i-main-title-index, $sp-i-main-title-index-2x, );
$sp-i-more-group-name: 'sp-i-more';
$sp-i-more-group: ('sp-i-more', $sp-i-more, $sp-i-more-2x, );
$sp-i-nav-group-name: 'sp-i-nav';
$sp-i-nav-group: ('sp-i-nav', $sp-i-nav, $sp-i-nav-2x, );
$sp-i-payment-arr-group-name: 'sp-i-payment-arr';
$sp-i-payment-arr-group: ('sp-i-payment-arr', $sp-i-payment-arr, $sp-i-payment-arr-2x, );
$sp-i-promo-0-group-name: 'sp-i-promo-0';
$sp-i-promo-0-group: ('sp-i-promo-0', $sp-i-promo-0, $sp-i-promo-0-2x, );
$sp-i-promo-1-group-name: 'sp-i-promo-1';
$sp-i-promo-1-group: ('sp-i-promo-1', $sp-i-promo-1, $sp-i-promo-1-2x, );
$sp-i-promo-2-group-name: 'sp-i-promo-2';
$sp-i-promo-2-group: ('sp-i-promo-2', $sp-i-promo-2, $sp-i-promo-2-2x, );
$sp-i-promo-3-group-name: 'sp-i-promo-3';
$sp-i-promo-3-group: ('sp-i-promo-3', $sp-i-promo-3, $sp-i-promo-3-2x, );
$sp-i-promo-4-group-name: 'sp-i-promo-4';
$sp-i-promo-4-group: ('sp-i-promo-4', $sp-i-promo-4, $sp-i-promo-4-2x, );
$sp-i-promo-5-group-name: 'sp-i-promo-5';
$sp-i-promo-5-group: ('sp-i-promo-5', $sp-i-promo-5, $sp-i-promo-5-2x, );
$sp-i-promo-6-group-name: 'sp-i-promo-6';
$sp-i-promo-6-group: ('sp-i-promo-6', $sp-i-promo-6, $sp-i-promo-6-2x, );
$sp-i-promo-7-group-name: 'sp-i-promo-7';
$sp-i-promo-7-group: ('sp-i-promo-7', $sp-i-promo-7, $sp-i-promo-7-2x, );
$sp-i-pt-group-name: 'sp-i-pt';
$sp-i-pt-group: ('sp-i-pt', $sp-i-pt, $sp-i-pt-2x, );
$sp-i-rating-group-name: 'sp-i-rating';
$sp-i-rating-group: ('sp-i-rating', $sp-i-rating, $sp-i-rating-2x, );
$sp-i-review-corner-group-name: 'sp-i-review-corner';
$sp-i-review-corner-group: ('sp-i-review-corner', $sp-i-review-corner, $sp-i-review-corner-2x, );
$sp-i-review-group-name: 'sp-i-review';
$sp-i-review-group: ('sp-i-review', $sp-i-review, $sp-i-review-2x, );
$sp-i-search-close-group-name: 'sp-i-search-close';
$sp-i-search-close-group: ('sp-i-search-close', $sp-i-search-close, $sp-i-search-close-2x, );
$sp-i-search-group-name: 'sp-i-search';
$sp-i-search-group: ('sp-i-search', $sp-i-search, $sp-i-search-2x, );
$sp-i-shadow-menu-left-group-name: 'sp-i-shadow-menu-left';
$sp-i-shadow-menu-left-group: ('sp-i-shadow-menu-left', $sp-i-shadow-menu-left, $sp-i-shadow-menu-left-2x, );
$sp-i-shadow-menu-right-group-name: 'sp-i-shadow-menu-right';
$sp-i-shadow-menu-right-group: ('sp-i-shadow-menu-right', $sp-i-shadow-menu-right, $sp-i-shadow-menu-right-2x, );
$sp-i-slider-info-0-group-name: 'sp-i-slider-info-0';
$sp-i-slider-info-0-group: ('sp-i-slider-info-0', $sp-i-slider-info-0, $sp-i-slider-info-0-2x, );
$sp-i-slider-info-1-group-name: 'sp-i-slider-info-1';
$sp-i-slider-info-1-group: ('sp-i-slider-info-1', $sp-i-slider-info-1, $sp-i-slider-info-1-2x, );
$sp-i-slider-info-2-group-name: 'sp-i-slider-info-2';
$sp-i-slider-info-2-group: ('sp-i-slider-info-2', $sp-i-slider-info-2, $sp-i-slider-info-2-2x, );
$sp-i-slider-info-3-group-name: 'sp-i-slider-info-3';
$sp-i-slider-info-3-group: ('sp-i-slider-info-3', $sp-i-slider-info-3, $sp-i-slider-info-3-2x, );
$sp-i-slider-info-4-group-name: 'sp-i-slider-info-4';
$sp-i-slider-info-4-group: ('sp-i-slider-info-4', $sp-i-slider-info-4, $sp-i-slider-info-4-2x, );
$retina-groups: ($sp-i-arrow-group, $sp-i-breadcrumbs-corner-group, $sp-i-breadcrumbs-home-group, $sp-i-btn-arrow-big-group, $sp-i-btn-arrow-hover-group, $sp-i-btn-arrow-group, $sp-i-btn-refresh-group, $sp-i-cart-apply-group, $sp-i-cart-delete-group, $sp-i-cart-group, $sp-i-category-arr-group, $sp-i-de-group, $sp-i-discount-done-group, $sp-i-discount-info-group, $sp-i-drop-arrow-active-group, $sp-i-drop-arrow-group, $sp-i-drop-down-active-group, $sp-i-en-group, $sp-i-es-group, $sp-i-fr-group, $sp-i-it-group, $sp-i-jp-group, $sp-i-logotype-group, $sp-i-main-title-index-group, $sp-i-more-group, $sp-i-nav-group, $sp-i-payment-arr-group, $sp-i-promo-0-group, $sp-i-promo-1-group, $sp-i-promo-2-group, $sp-i-promo-3-group, $sp-i-promo-4-group, $sp-i-promo-5-group, $sp-i-promo-6-group, $sp-i-promo-7-group, $sp-i-pt-group, $sp-i-rating-group, $sp-i-review-corner-group, $sp-i-review-group, $sp-i-search-close-group, $sp-i-search-group, $sp-i-shadow-menu-left-group, $sp-i-shadow-menu-right-group, $sp-i-slider-info-0-group, $sp-i-slider-info-1-group, $sp-i-slider-info-2-group, $sp-i-slider-info-3-group, $sp-i-slider-info-4-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
