////
/// @group  Variable
////

///
/// @name   object
///

// Proxima Nova --> PN

$object : (
	color : (
		white             : #FFF,
		black             : #000,
		nero              : #333,
		atlantis          : #8DC63F,
		feijoa            : #ACD574,
		very-light-grey   : #CCC,
		solitude          : #E1E5E9,
		athens-grey       : #DBDCDC,
		snow              : #FAFAFA,
		nobel             : #969696,
		coral-red         : #FB4646,
		persimmon         : #E25201,
		pumpkin           : #F76512,
		surfie-green      : #017977,
		woody-brown       : #564643,
		iris-blue         : #00ADD8,
	),

	fonts : (
		OS-regular        : "opensans_regular",
		OS-bold           : "opensans_bold",
		H-lc              : "helveticaltstd_lightCond",
		H-blk             : "helveticaltstd_blk",
	),

	dimension : (
		all       : 100%
	),
);