////
/// @group  Variable
////

///
/// @name   object
///

// Proxima Nova --> PN

$object : (
	color : (
		white             : #FFF,
		black             : #000,
		atlantis          : #8DC63F,
		feijoa            : #ACD574,
		very-light-grey   : #CCC,
		solitude          : #e1e5e9,
		coral-red         : #FB4646,
	),

	fonts : (
		OS-regular        : "opensans_regular",
		OS-bold           : "opensans_bold",
	),

	dimension : (
		all       : 100%
	),
);