////
/// @group  Variable
////

///
/// @name   object
///

// Proxima Nova --> PN

$object : (
	color : (
		white             : #FFF,
		black             : #000,
		nero              : #333,
		atlantis          : #8DC63F,
		feijoa            : #ACD574,
		very-light-grey   : #CCC,
		solitude          : #E1E5E9,
		athens-grey       : #DBDCDC,
		snow              : #FAFAFA,
		nobel             : #969696,
		grey              : #808080,
		dim-gray          : #696969,
		coral-red         : #FB4646,
		persimmon         : #E25201,
		pumpkin           : #F76512,
		surfie-green      : #017977,
		woody-brown       : #564643,
		iris-blue         : #00ADD8,
		azure             : #E9FAFF,
		light-blue        : #B1D4E3,
		violet-red        : #FF4378,
	),

	fonts : (
		OS-regular        : "opensans_regular",
		OS-bold           : "opensans_bold",
		H-lc              : "helveticaltstd_lightCond",
		H-blk             : "helveticaltstd_blk",
		MS-light          : "MuseoSansLight",
		MS-regular        : "MuseoSansRegular",
		MS-bold           : "MuseoSansBold"
	),

	dimension : (
		all       : 100%
	),
);