///
/// IMPORT FILES
///
@import "../../../_mixin/mixin";
@import "../../../_function/function";
@import "../../../_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-dim-gray         : return-value(color, dim-gray);
///
/// MAIN
///
.copyright {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 15px;
	height: 25px;
	line-height: 25px;
	@include respond-to(medium) {
		top: (25 + 120) * 1px;
		height: 69px;
		line-height: 69px;
	}
	@include respond-to(small-max) {
		top: 310px;
		right: 15px;
		margin: {
			left: auto;
			right: auto;
		};
		text-align: center;
	}


	&__text {
		color: $c-white;
		font-size: 12px;
		@include respond-to(medium-max) {
			color: $c-dim-gray;
		}
	}
}