///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_function/function";

//@import "_macros/_header/header__top";
//@import "_macros/_header/header__bottom";
@import "_macros/_header/support";
@import "_macros/_header/menu";
@import "_macros/_header/logotype";
@import "_macros/_header/cart";
@import "_macros/_header/currency";
@import "_macros/_header/language";
@import "_macros/_header/search";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-black			      : return-value(color, black);
$c-atlantis 	      : return-value(color, atlantis);
$c-feijoa    	      : return-value(color, feijoa);
$c-solitude  	      : return-value(color, solitude);
///
/// MAIN
///
.header {
	position: relative;
	height: 85px;
	@include respond-to(medium) {
		height: (85 + 60) * 1px;
	}
	@include respond-to(small-max) {
		height: (85 + 40 + 60) * 1px;
	}


	&__theme {
		&_top {
			height: 25px;
			background-color: $c-black;
		}


		&_middle-0 {
			top: 25px;
			height: 60px;
			background-color: $c-atlantis;
		}


		&_middle-1 {
			@include respond-to(small-max) {
				top: 85px;
				height: 40px;
				background-color: $c-atlantis;
				border-top: 1px solid $c-feijoa;
			}
		}


		&_bottom {
			@include respond-to(medium) {
				top: 85px;
				height: 60px;
				background-color: $c-atlantis;
				border-top: 1px solid $c-feijoa;
			}
			@include respond-to(small-max) {
				top: (25 + 60 + 40) * 1px;
				height: 60px;
				background-color: $c-solitude;
			}
		}


		&_top,
		&_middle-0,
		&_middle-1,
		&_bottom {
			position: absolute;
			width: $w-all;
		}
	}
}