///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite";

@import "../_template/_macros/_nav/list";
@import "../_template/_macros/_nav/discount";
@import "../_template/_macros/_nav/drop";
@import "../_template/_macros/_nav/promo";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-nero			        : return-value(color, nero);
$c-persimmon	      : return-value(color, persimmon);
///
/// MAIN
///
.nav {
	height: 50px;
	*background-color: $c-white;
	background-color: rgba($c-white, 0.8);
	box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);


	&__all {
		float: left;
		@include mixinDimensions(170px, 37px);
		padding-top: 13px;
		@include respond-to(small-max) {
			width: 50%;
		}
		@include respond-to(extra-small) {
			padding-left: 15px;
		}


		&.active {
			.nav__all-icon {
				@include retina-sprite($sp-i-category-arr-group);
				width: 16px;
			}
			.nav__all-text {
				color: $c-nero;
				border-color: $c-nero;
			}
		}


		&-icon {
			margin-right: 10px;
			@include retina-sprite($sp-i-nav-group);
		}


		&-text {
			font: {
				family: Arial, sans-serif;
				weight: bold;
			}
			color: $c-persimmon;
			line-height: 1.2;
			border-bottom: 2px solid $c-persimmon;
			@include respond-to(small-max) {
				font-size: 13px;
			}
		}


		&-icon,
		&-text {
			display: inline-block;
			vertical-align: middle;
		}
	}
}
