///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite";

@import "_macros/_slider/slider__info";
@import "_macros/_slider/slider__wrap";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-nobel			      : return-value(color, nobel);
$c-violet-red       : return-value(color, violet-red);

$f-OS-regular       : return-value(fonts, OS-regular);
///
/// MAIN
///
.slider {
	padding: {
		top: 20px;
	}
	@include respond-to(small-max) {
		display: none;
	}


	&__row {
		height: 260px;
		background-color: $c-white;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.21);
	}


	&__left,
	&__right {
		position: relative;
		float: left;
		height: $w-all;
	}


	&__left {
		width: (1170 - 230) * 1px;
		@include respond-to(large) {
			width: (910 - 230) * 1px;
		}
		@include respond-to(medium) {
			width: (690 - 230) * 1px;
		}
	}


	&__right {
		width: 230px;
		background-color: $c-white;
	}


	&__text {
		&-0,
		&-2 {
			font-family: $f-MS-light;
			color: $c-iris-blue;
		}


		&-1 {
			font-family: $f-MS-bold;
			color: $c-atlantis;
			text-transform: uppercase;
		}


		&-2 {
			font: {
				size: 30px;
			};
			@include respond-to(medium) {
				font-size: 23px;
			}
		}


		&-0,
		&-1 {
			font: {
				size: 36px;
			};
			@include respond-to(medium) {
				font-size: 28px;
			}
		}


		&-0,
		&-1,
		&-2,
		&-3,
		&-4 {
			line-height: 1;
		}


		&-4 {
			padding-left: 100px;
			@include respond-to(medium) {
				padding-left: 50px;
			}
		}


		&-3,
		&-4 {
			font: {
				size: 18px;
				family: $f-OS-regular;
			}
			color: $c-nobel;
			@include respond-to(medium) {
				font-size: 16px;
			}
		}
		
		
		&_color {
			font: {
				size: 28px;
				weight: 100;
			}
			color: $c-violet-red;
			@include respond-to(medium) {
				font-size: 23px;
			}
		}
	}


	&__btn {
		position: absolute;
		left: 300px;
		bottom: 40px;
	}
}