///
/// IMPORT FILES
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../../_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-very-light-grey  : return-value(color, very-light-grey);
///
/// MAIN
///
.search {
	position: absolute;
	left: 185px;
	top: 25px;
	width: 580px;
	height: 60px;
	padding-left: 20px;
	@include respond-to(large) {
		width: 340px;
	}
	@include respond-to(medium-max) {
		left: 0;
		padding-left: 15px;
	}
	@include respond-to(medium) {
		top: 85px;
		width: calc(100% - 15px);
	}
	@include respond-to(small-max) {
		width: $w-all;
		top: (25 + 60 + 40) * 1px;
	}


	&::before {
		left: 0;
		@include retina-sprite($sp-i-shadow-menu-left-group);
	}


	&::after {
		right: 0;
		@include retina-sprite($sp-i-shadow-menu-right-group);
	}


	&::before,
	&::after {
		@include respond-to(small-max) {
			content: "";
			position: absolute;
			top: 0;
		}
	}


	&__input {
		position: absolute;
		top: 11px;
		padding: 0 36px 0 20px;
		@include mixinDimensions((580 - 56) * 1px, 38px);
		border-radius: 3px;
		border: none;
		font: {
			style: italic;
			size: 14px;
		}
		@include respond-to(large) {
			width: (340 - 56) * 1px;
		}
		@include respond-to(medium-max) {
			width: calc(100% - 15px);
		}
		@include respond-to(small-max) {
			width: calc(100% - 30px);
		}
	}


	&__btn {
		position: absolute;
		top: 11px;
		right: 0;
		@include mixinDimensions(36px, 38px);
		text-align: center;
		@include respond-to(small-max) {
			right: 15px;
		}


		&-icon {
			display: inline-block;  *display: inline;  *zoom: 1;
			margin-top: 11px;
			@include retina-sprite($sp-i-search-group);
		}
	}
}
input.search__input::-webkit-input-placeholder {color: $c-very-light-grey;}
input.search__input::-moz-placeholder {color: $c-very-light-grey;}
input.search__input:-moz-placeholder {color: $c-very-light-grey;}
input.search__input::placeholder {color: $c-very-light-grey;}