
.cart

    i.cart__shadow
    i.cart__icon

    .cart__row
        p(class="cart__title", data-id="Shopping cart:")!= "Shopping cart:"
        p.cart__sum!= "USD 1.567.00"
        span.cart__item!= "3"