///
/// IMPORT FILES
///
@import "../../../_mixin/mixin";
@import "../../../_function/function";
@import "../../../_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);

$f-OS-bold          : return-value(fonts, OS-bold);
///
/// MAIN
///
.currency {
	position: absolute;
	right: 235px;
	top: 25px;
	height: 60px;
	width: 85px;
	text-align: center;
	@include respond-to(small-max) {
		right: 15px;
	}


	&__btn {
		display: block;
		margin-top: 19px;
	}


	&__name {
		font-family: $f-OS-bold;
		color: $c-white;
		margin-right: 5px;
		font-size: 15px;
	}


	&__icon {
		display: inline-block;  *display: inline;  *zoom: 1;
		vertical-align: middle;
		@include retina-sprite($sp-i-arrow-group);
	}


	&__drop {
		top: 50px;


		&-item {
			font: {
				size: 13px;
				family: $f-OS-bold;
			}
		}
	}
}