///
/// IMPORT FILES
///
@import "../../../_mixin/mixin";
@import "../../../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-atlantis 	      : return-value(color, atlantis);
///
/// MAIN
///
.header {
	&__bottom {

	}
}