///
/// IMPORT FILES
///
@import "../../../_mixin/mixin";
@import "../../../_function/function";
@import "../../../_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);

$f-OS-bold          : return-value(fonts, OS-bold);
///
/// MAIN
///
.language {
	position: absolute;
	right: 320px;
	top: 25px;
	height: 60px;
	width: 60px;
	text-align: center;
	@include respond-to(small-max) {
		right: 100px;
	}


	&__btn {
		display: block;
		margin-top: 19px;
	}


	&__flags {
		position: relative;
		top: -1px;
		margin-right: 5px;
	}


	&__icon {
		@include retina-sprite($sp-i-arrow-group);
	}


	&__flags,
	&__icon {
		display: inline-block;  *display: inline;  *zoom: 1;
		vertical-align: middle;
	}


	&__drop {
		top: 50px;


		&-item {
			font: {
				size: 13px;
				family: $f-OS-bold;
			}
		}
	}
}
/* LANGUAGE FLAGS */
@each $className, $iconName in
			(en, $sp-i-en-group),
			(de, $sp-i-de-group),
			(fr, $sp-i-fr-group),
			(it, $sp-i-it-group),
			(es, $sp-i-es-group),
			(pt, $sp-i-pt-group),
			(jp, $sp-i-jp-group)
{
	[data-language=#{$className}] {
		.language__flags {
			@include retina-sprite($iconName);
		}
	}
}