///
/// IMPORT FILES
///
@import "../../../_mixin/mixin";
@import "../../../_function/function";
@import "../../../_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-black			      : return-value(color, black);

$f-OS-bold          : return-value(fonts, OS-bold);
///
/// MAIN
///
.menu {
	opacity: 0;
	position: absolute;
	right: 15px;
	top: 0;
	@include respond-to(medium) {
		width: calc(100% - 30px);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	@include respond-to(small-max) {
		width: calc(100% - 15px);
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;

		.footer__menu & {
			@include mixinDimensions($w-all, 60px);
			right: 0;
			justify-content: center;
		}
	}


	&__btn {
		display: inline-block;  *display: inline;  *zoom: 1;
		margin: {
			left: 15px;
		}
		line-height: 25px;
		font: {
			size: 11px;
			family: $f-OS-bold;
		};
		color: $c-white;
		text-transform: uppercase;
		@include respond-to(medium) {
			margin-left: 0;
			font-size: 10px;
		}
	}


	&__pointer {
		display: none;


		.header & {
			margin: {
				left: 15px;
			}
			height: 25px;
			@include respond-to(large) {
				display: inline-block;  *display: inline;  *zoom: 1;
			}
			@include respond-to(small-max) {
				display: inline-block;  *display: inline;  *zoom: 1;
			}
		}


		&-icon {
			display: inline-block;  *display: inline;  *zoom: 1;
			@include retina-sprite($sp-i-more-group);
		}
	}


	&__drop {
		top: 35px;
	}
}