///
/// IMPORT FILES
///
@import "../../../_mixin/mixin";
@import "../../../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-atlantis 	      : return-value(color, atlantis);

$f-OS-bold          : return-value(fonts, OS-bold);
///
/// MAIN
///
.support {
	position: absolute;
	top: 0;
	left: 15px;
	height: 25px;
	line-height: 23px;
	color: $c-white;
	@include respond-to(medium-max) {
		display: none;
	}

	&__tel {
		font: {
			family: $f-OS-bold;
		}


		&_color {
			color: $c-atlantis;
		}
	}


	&__text {
		font-size: 12px;
	}


	&__tel,
	&__text {
		vertical-align: middle;
	}
}