
.description
    .container
        .description_left
            include _macros/_description/description__info

        .description_right
            include _macros/_description/description__product