
.footer
    .footer__theme-top
    .footer__theme-middle-0
    .footer__theme-middle-1
    .footer__theme-bottom

    .container

        include ./_macros/_footer/copyright

        .footer__menu
            include ./_macros/_header/menu

        include ./_macros/_footer/partner

        include ./_macros/_footer/payment

        include ./_macros/_footer/customer