
.header

    .header__theme_top
    .header__theme_middle-0
    .header__theme_middle-1
    .header__theme_bottom

    .container

        //- HEADER TOP [support, menu]
        include ./_macros/header__top

        //- HEADER BOTTOM [search, logotype, language, currency, cart]
        include ./_macros/header__bottom