
.header

    .header__theme_top
    .header__theme_middle-0
    .header__theme_middle-1
    .header__theme_bottom

    .container

        include ./_macros/header__top

        include ./_macros/header__bottom