
.nav
    .container.clearfix
        a(
            href="javascript:void(0);"
            title=""
            class="nav__all"
        )
            i.nav__all-icon
            span(class="nav__all-text", data-id="All Section")!= "All Section"


        include _macros/_nav/list

        include _macros/_nav/discount
