
.other-proposition
    .container
        .other-proposition__row.clearfix
            +mainTitle("Other Proposition", "main__title_otherProp")

    .other-proposition__row.clearfix
        include ../_template/product