
.slider
    .container
        .slider__row.clearfix

            .slider__left

                include ./_macros/_slider/slider__wrap

            .slider__right

                include ./_macros/_slider/slider__info