include _mixin/mixin
include _mixin/macrosMixin


-
    var breadcrumbsLink = [
        "Main",
        "Product"
    ];


doctype html
html(lang="en")


    +headSite("Herbalex product", linkSite.styleLinkProduct, "")


    body(data-lang="en")


        //- HEADER [support, menu, search, logotype, language, currency, cart]
        include ./_template/header


        //- ROW MAIN [background-image]
        +rowWithImageBgProduct0("row_product-0")


        //- MAIN CONTENT IN PAGE
        .row__wrap

            //- NAVIGATION [list, drop, coupon]
            include ./_template/nav

            //- BREADCRUMBS
            +breadcrumbs(breadcrumbsLink)

            //- PRODUCT DESCRIPTION
            include ./_template/specification

            //- OTHER PROPOSITION
            include ./_template/other-proposition

            //- REVIEW
            include ./_template/review

            //- PROMO
            include ./_template/promo


        //- HEADER [support, menu, search, logotype, language, currency, cart]
        include ./_template/footer



    - for(var i = 0; i < linkSite.scriptLink.length; i++)
        script(src= linkSite.scriptLink[i])