
.cart__drop-info
    p(
        class="cart__drop__text cart__drop__text_color"
        data-id="Now your discount on all products is 5%."
    )!= "Now your discount on all products is 5%."

    p(
        class="cart__drop__text"
        data-id="Prices are displayed in the store with discount!"
    )!= "Prices are displayed in the store with discount!"


