
.support
    span.support__tel!= "1-866-<span class='support__tel_color'>540-8080</span> "
    span(class="support__text", data-id="- 24/7 customer support service")!= "- 24/7 customer support service"