///
/// IMPORT FILES
///
@import "./_mixin/mixin";
@import "./_function/function";
@import "./_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-black			      : return-value(color, black);
$c-atlantis 	      : return-value(color, atlantis);
$c-dim-gray  	      : return-value(color, dim-gray);
$c-nobel    	      : return-value(color, nobel);
$c-nero     	      : return-value(color, nero);
$c-azure     	      : return-value(color, azure);
$c-light-blue	      : return-value(color, light-blue);

$f-OS-bold          : return-value(fonts, OS-bold);
///
/// ROW
///
.row {
	position: relative;


	&__img {
		position: absolute;
		z-index: 0;
		top: 0;
		@include respond-to(small-max) {
			display: none;
		}


		&-left {
			left: 0;
		}
		&-right {
			right: 0;
		}
	}


	&__wrap {
		position: relative;
		z-index: 10;
	}
}
///
/// DROP DOWN
///
.drop-down {
	display: none;
	position: absolute;
	z-index: 20;
	right: 0;
	background-color: $c-white;
	text-align: right;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);


	.menu & {
		padding: {
			left: 10px;
			right: 10px;
		}
	}


	&::before {
		content: "";
		position: absolute;
		right: 10px;
		top: -20px;
		border: {
			width: 10px;
			style: solid;
			color: transparent transparent $c-white transparent;
		}
	}


	&__icon {
		position: absolute;
		top: 22px;
		left: 7px;


		.active &{
				@include retina-sprite($sp-i-drop-down-active-group);
		}
	}

	.menu__btn {
		height: 30px;
		line-height: 30px;
		color: $c-black;
		margin-left: 0;
	}


	&__btn {
		position: relative;
		height: 50px;
		line-height: 50px;


		&.active {
			color: $c-atlantis;
		}


		&:hover {
			color: $c-atlantis;
			transition: all .3s ease-in-out;
		}


		.language & {
			text-align: left;
			padding: {
				left: 25px;
				right: 20px;
			};
		}
		.currency & {
			text-align: center;
			padding: {
				left: 15px;
				right: 15px;
			};
		}
	}


	.menu__btn,
	&__btn {
		display: block;
		white-space: nowrap;
		border-top: 1px solid rgba($c-black, 0.1);


		&:first-child {
			border-top: none;
		}
	}
}
///
/// BTN
///
.btn {
	height: 35px;
	line-height: 30px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
	background: rgb(247,101,18);
	background: -moz-linear-gradient(top,  rgba(247,101,18,1) 0%, rgba(226,82,1,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(247,101,18,1) 0%,rgba(226,82,1,1) 100%);
	background: linear-gradient(to bottom,  rgba(247,101,18,1) 0%,rgba(226,82,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f76512', endColorstr='#e25201',GradientType=0 );
	color: $c-white;
	font: {
		family: $f-OS-bold;
	}
	text-align: center;
	transition: .3s ease-in-out;


	&:hover {
		background: rgb(230,234,238);
		background: -moz-linear-gradient(top,  rgba(230,234,238,1) 0%, rgba(220,220,220,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(230,234,238,1) 0%,rgba(220,220,220,1) 100%);
		background: linear-gradient(to bottom,  rgba(230,234,238,1) 0%,rgba(220,220,220,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6eaee', endColorstr='#dcdcdc',GradientType=0 );
		transition: .3s ease-in-out;


		.btn__text {
			color: $c-nero;
		}


		.btn__icon {
			@include retina-sprite($sp-i-btn-arrow-hover-group);
		}
	}


	&_big {
		height: 45px;
		line-height: 40px;


		.btn__text {
			font-size: 26px;
			text-transform: uppercase;
		}
		.btn__icon {
			@include retina-sprite($sp-i-btn-arrow-big-group);
		}
	}


	&_medium {
		width: 195px;
	}


	&_small {
		width: 150px;
	}


	&__icon {
		position: relative;
		top: 1px;
		margin-left: 10px;
		@include retina-sprite($sp-i-btn-arrow-group);
	}


	&__text,
	&__icon {
		display: inline-block;
		vertical-align: middle;
	}
}
///
/// ALIGNER
///
.aligner {
	display: inline-block;  *display: inline;  *zoom: 1;
	height: 100%;
	vertical-align: middle;
}
///
/// MAIN TITLE
///
.main__title {
	float: left;
	height: 60px;
	position: relative;


	&_bestSeller {
		top: -5px;
	}


	&_otherProp,
	&_category,
	&_faq,
	&_policies,
	&_about,
	&_contact,
	&_unsubscribe,
	&_track,
	&_review {
		top: 2px;
	}


	&_bestSeller,
	&_otherProp,
	&_faq,
	&_policies,
	&_about,
	&_contact,
	&_unsubscribe,
	&_track,
	&_category {
		.main__title-icon {
			@include retina-sprite($sp-i-main-title-index-group);
		}
	}
	&_review {
		.main__title-icon {
			@include retina-sprite($sp-i-review-group);
		}
	}



	&-icon {
		display: inline-block;  *display: inline;  *zoom: 1;
		vertical-align: middle;
		margin-right: 5px;
	}


	&-text {
		font: {
			size: 24px;
			family: $f-OS-bold;
		};
		color: $c-dim-gray;
		@include respond-to(small-max) {
			font-size: 18px;
		}
	}
}
///
/// RATING
///
.rating {
	&__text {
		font-size: 11px;
		color: $c-nobel;
		vertical-align: middle;
		margin-right: 5px;
	}


	&__icon {
		position: relative;
		top: 1px;
		display: inline-block;  *display: inline;  *zoom: 1;
		vertical-align: middle;
		@include retina-sprite($sp-i-rating-group);
	}
}
///
/// DISCOUNT
///
.discount {
	&__img {
		position: absolute;
		top: 0;
		right: 0;
	}
}
///
/// BREADCRUMBS
///
.breadcrumbs {
	padding-top: 13px;
	height: 37px;
	@include respond-to(small-max) {
		display: none;
	}


	&__btn {
		position: relative;
		float: left;
		min-width: 25px;
		height: 23px;
		line-height: 23px;
		text-align: center;
		padding: {
			left: 10px;
			right: 10px;
		}
		font: {
			size: 12px;
		}
		color: $c-nero;
		background-color: $c-azure;
		border-top: 1px solid $c-light-blue;
		border-bottom: 1px solid $c-light-blue;
		border-left: 1px solid $c-light-blue;


		&:first-child {
			padding: {
				left: 0;
				right: 0;
			}


			.breadcrumbs__btn-icon {
				position: static;
				display: inline-block;  *display: inline;  *zoom: 1;
				@include retina-sprite($sp-i-breadcrumbs-home-group);
			}
		}


		&-icon {
			position: absolute;
			top: 0;
			right: -7px;
			@include retina-sprite($sp-i-breadcrumbs-corner-group);
		}
	}
}