/// MAIN FILES
@import "_template/_main/_grid";
@import "_template/_main/_main";

/// MAIN TMPL
@import "_template/header";
@import "_template/nav";
@import "_template/slider";
@import "_template/info";
@import "_template/product";
@import "_template/category";
@import "_template/other-proposition";
@import "_template/description";
@import "_template/review";
@import "_template/promo";
@import "_template/footer";