///
/// IMPORT FILES
///
@import "../../../_mixin/mixin";
@import "../../../_function/function";
@import "../../../_variable/sprite";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-nero			        : return-value(color, nero);
///
/// MAIN
///
.nav {
	&__list {
		float: left;
		font-size: 0;
		// 780px
		width: (1170 - (170 + 220)) * 1px;
		@include respond-to(large) {
			// 520px
			width: auto;
		}
		@include respond-to(medium-max) {
			display: none;
		}



		&-item {
			display: inline-block;
			vertical-align: top;
			height: 50px;
			padding: {
				left: 10px;
				right: 30px;
			};
			line-height: 50px;
			font: {
				size: 16px;
				family: Arial, sans-serif;
				weight: bold;
			}
			color: $c-nero;
			@include respond-to(large) {
				font-size: 15px;
			}


			&_hide {
				@include respond-to(large-max) {
					display: none;
				}
			}
		}
	}
}